backup/ตู้เย็น/fride/flows node-red.json
[{"id":"9aa2b35a.fb44a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8dc86c05.06162","type":"function","z":"9aa2b35a.fb44a","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    h: parseInt(data[0]),\n    t: parseInt(data[1]),\n    t2: parseInt(data[2]),\n    LDR: parseInt(data[3]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,1)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":280,"wires":[["e6da69b5.00c968"]]},{"id":"8244b09f.7a385","type":"udp in","z":"9aa2b35a.fb44a","name":"Device 1","iface":"","port":"5000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":120,"y":280,"wires":[["705ae304.9c598c","8dc86c05.06162","9df9a6af.4c8898","9ec78b9.08e1278","d4860eb1.098a7","4a371bb8.8285f4","9232ced2.6be3e","f69ec02.857a94"]]},{"id":"705ae304.9c598c","type":"function","z":"9aa2b35a.fb44a","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    \"humidity\": parseInt(data[0]),\n    \"temperature\": parseInt(data[1]),\n    \"temperature_ds18b20\": parseInt(data[2]),\n    \"LDR\": parseInt(data[3]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":200,"wires":[["fafd005a.a6682"]]},{"id":"fafd005a.a6682","type":"firebase out","z":"9aa2b35a.fb44a","name":"device1","ref":"device1","operation":"push","admin":"df36b66d.5308b8","x":560,"y":200,"wires":[["3008a4a2.24fe9c"]]},{"id":"3008a4a2.24fe9c","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":240,"wires":[]},{"id":"e6da69b5.00c968","type":"mysql","z":"9aa2b35a.fb44a","mydb":"db390f86.e735d","name":"farm sql","x":560,"y":280,"wires":[["3008a4a2.24fe9c"]]},{"id":"f69ec02.857a94","type":"file","z":"9aa2b35a.fb44a","name":"","filename":"C:\\xampp\\htdocs\\csv\\device1.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":440,"y":120,"wires":[["e1df164a.6d5628"]]},{"id":"e1df164a.6d5628","type":"csv","z":"9aa2b35a.fb44a","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":140,"wires":[["1867dfa4.74751"]]},{"id":"1867dfa4.74751","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":140,"wires":[]},{"id":"49e7024c.cff4ec","type":"http request","z":"9aa2b35a.fb44a","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://docs.google.com/spreadsheets/d/1FnUHiQS4RTX_AZ4pc9MK713yDpMPRDlWKStKB-JmePE/edit#gid=270480692","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":680,"wires":[["21c2b14d.69bfbe"]]},{"id":"21c2b14d.69bfbe","type":"function","z":"9aa2b35a.fb44a","name":"","func":"p=JSON.parse(msg.payload)\nmsg.payload={\n    \"temp\":p.dht[0].value,\n    \"temp2\":p.ds18[0].value\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":680,"wires":[["165a0f66.5ca471"]]},{"id":"165a0f66.5ca471","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":700,"wires":[]},{"id":"fed8c1cf.b11b5","type":"GSheet","z":"9aa2b35a.fb44a","creds":"866d574.ed342a8","method":"append","action":"","sheet":"1FnUHiQS4RTX_AZ4pc9MK713yDpMPRDlWKStKB-JmePE/edit#gid=270480692","cells":"Sheet1!A1:B2","flatten":false,"name":"sheet","x":580,"y":760,"wires":[["625f8d88.1681c4"]]},{"id":"e222b9d3.17bc58","type":"inject","z":"9aa2b35a.fb44a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":760,"wires":[["fed8c1cf.b11b5"]]},{"id":"625f8d88.1681c4","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":800,"wires":[]},{"id":"9d684e28.001d1","type":"function","z":"9aa2b35a.fb44a","name":"","func":"\nmsg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer hGcQRT9ISTO8H1CApvz0sDKNQhdOuLw9ejNS4fv8yGh'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":920,"wires":[["e927b8e.4e49348"]]},{"id":"e927b8e.4e49348","type":"http request","z":"9aa2b35a.fb44a","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":940,"wires":[["89743b7f.144578"]]},{"id":"17833e9.68416c1","type":"inject","z":"9aa2b35a.fb44a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":940,"wires":[["aa5069cc.88c468"]]},{"id":"89743b7f.144578","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":960,"wires":[]},{"id":"aa5069cc.88c468","type":"function","z":"9aa2b35a.fb44a","name":"","func":"\nmsg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer aGsA3R4APnt2l5pheTz4N6XM0FYMXAN2igN6q7xmSsG'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":980,"wires":[["e927b8e.4e49348"]]},{"id":"9df9a6af.4c8898","type":"function","z":"9aa2b35a.fb44a","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[["d329e5d3.9a7fb8","a24ef22e.fd591"]]},{"id":"9ec78b9.08e1278","type":"function","z":"9aa2b35a.fb44a","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":440,"wires":[["cab417c5.c89d08","582d2f9b.0cf"]]},{"id":"d329e5d3.9a7fb8","type":"ui_gauge","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":4,"width":7,"height":5,"gtype":"wave","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":380,"wires":[]},{"id":"cab417c5.c89d08","type":"ui_gauge","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":1,"width":7,"height":4,"gtype":"compass","title":"temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":460,"wires":[]},{"id":"d4860eb1.098a7","type":"function","z":"9aa2b35a.fb44a","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":520,"wires":[["5526c01b.0d5e9","c10c229.9315ce"]]},{"id":"5526c01b.0d5e9","type":"ui_gauge","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":6,"width":7,"height":5,"gtype":"compass","title":"temperature-ds18b20","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":540,"wires":[]},{"id":"4a371bb8.8285f4","type":"function","z":"9aa2b35a.fb44a","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":560,"wires":[["f7a17bbf.4aa068"]]},{"id":"f7a17bbf.4aa068","type":"ui_gauge","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":3,"width":7,"height":9,"gtype":"donut","title":"LDR","label":"lx","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":580,"wires":[]},{"id":"a24ef22e.fd591","type":"ui_chart","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":5,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":340,"wires":[[]]},{"id":"582d2f9b.0cf","type":"ui_chart","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":2,"width":6,"height":4,"label":"Temperature-DHT","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":420,"wires":[[]]},{"id":"c10c229.9315ce","type":"ui_chart","z":"9aa2b35a.fb44a","name":"ds18b20","group":"6c70d18a.3fd8b","order":7,"width":6,"height":5,"label":"Temperature-DS18b20","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":500,"wires":[[]]},{"id":"2ec43b.6d955bc6","type":"ui_template","z":"9aa2b35a.fb44a","group":"6c70d18a.3fd8b","name":"","order":9,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.139/csv/device1.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":460,"wires":[[]]},{"id":"9461138c.8b19b","type":"ui_gauge","z":"9aa2b35a.fb44a","name":"","group":"18b6c10d.f7e49f","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":680,"wires":[]},{"id":"9232ced2.6be3e","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":60,"wires":[]},{"id":"df36b66d.5308b8","type":"firebase admin","z":"","name":"firebase condb"},{"id":"db390f86.e735d","type":"MySQLdatabase","z":"","name":"farm","host":"127.0.0.1","port":"3306","db":"farm","tz":""},{"id":"866d574.ed342a8","type":"gauth","z":""},{"id":"6c70d18a.3fd8b","type":"ui_group","z":"","name":"Dashboard","tab":"989b1159.09f52","order":1,"disp":true,"width":"20","collapse":false},{"id":"18b6c10d.f7e49f","type":"ui_group","name":"Group 1","tab":"e1a86f67.77ba5","order":1,"disp":true,"width":6},{"id":"989b1159.09f52","type":"ui_tab","z":"","name":"Realtime Device1","icon":"Dashboard","order":2,"disabled":false,"hidden":true},{"id":"e1a86f67.77ba5","type":"ui_tab","z":"","name":"000000000","icon":"dashboard","order":1,"disabled":false,"hidden":true}]