backup/farm/flows6.json
[{"id":"ec41e117.84b2","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"4a757791.36dba8","type":"function","z":"ec41e117.84b2","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    h: parseInt(data[0]),\n    t: parseInt(data[1]),\n    t2: parseInt(data[2]),\n    LDR: parseInt(data[3]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,6)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":260,"wires":[["5fdd0db5.213f64"]]},{"id":"4a7dd9d9.47bac8","type":"udp in","z":"ec41e117.84b2","name":"Device 6","iface":"","port":"5005","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":80,"y":260,"wires":[["8faf612.dbb59a","4a757791.36dba8","3e7c7708.21b8b8","b865c6f6.9bc898","31afe9d3.e2d8e6","8aab02c0.ae618","9e25025c.260a2","9822543.fd95ca8"]]},{"id":"8faf612.dbb59a","type":"function","z":"ec41e117.84b2","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    \"humidity\": parseInt(data[0]),\n    \"temperature\": parseInt(data[1]),\n    \"temperature_ds18b20\": parseInt(data[2]),\n    \"LDR\": parseInt(data[3]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["72413662.1a3098"]]},{"id":"72413662.1a3098","type":"firebase out","z":"ec41e117.84b2","name":"device6","ref":"device6","operation":"push","admin":"df36b66d.5308b8","x":520,"y":180,"wires":[["f7dcf71a.d63758"]]},{"id":"f7dcf71a.d63758","type":"debug","z":"ec41e117.84b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"5fdd0db5.213f64","type":"mysql","z":"ec41e117.84b2","mydb":"db390f86.e735d","name":"farm sql","x":520,"y":260,"wires":[["f7dcf71a.d63758"]]},{"id":"9822543.fd95ca8","type":"file","z":"ec41e117.84b2","name":"","filename":"C:\\xampp\\htdocs\\csv\\device6.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":400,"y":100,"wires":[["40fff42e.00efec"]]},{"id":"40fff42e.00efec","type":"csv","z":"ec41e117.84b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":120,"wires":[["fd33c768.9f3188"]]},{"id":"fd33c768.9f3188","type":"debug","z":"ec41e117.84b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"3e7c7708.21b8b8","type":"function","z":"ec41e117.84b2","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["2f1af352.d6e80c","51080764.03fb28"]]},{"id":"b865c6f6.9bc898","type":"function","z":"ec41e117.84b2","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["f73f32c0.895a7","eb9cc9a1.4eb178"]]},{"id":"2f1af352.d6e80c","type":"ui_gauge","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":8,"width":6,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":360,"wires":[]},{"id":"f73f32c0.895a7","type":"ui_gauge","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":1,"width":6,"height":4,"gtype":"compass","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":440,"wires":[]},{"id":"31afe9d3.e2d8e6","type":"function","z":"ec41e117.84b2","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":500,"wires":[["db18183b.3628b8","fee88088.f93df"]]},{"id":"db18183b.3628b8","type":"ui_gauge","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":15,"width":6,"height":5,"gtype":"compass","title":"Solution Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":520,"wires":[]},{"id":"8aab02c0.ae618","type":"function","z":"ec41e117.84b2","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["6a09f478.0b82ec"]]},{"id":"6a09f478.0b82ec","type":"ui_gauge","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":3,"width":7,"height":9,"gtype":"donut","title":"Light","label":"lx","format":"{{value}}","min":0,"max":"65535","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":560,"wires":[]},{"id":"51080764.03fb28","type":"ui_chart","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":9,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":320,"wires":[[]]},{"id":"eb9cc9a1.4eb178","type":"ui_chart","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":2,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":400,"wires":[[]]},{"id":"fee88088.f93df","type":"ui_chart","z":"ec41e117.84b2","name":"ds18b20","group":"61cd564b.d9b7c8","order":16,"width":6,"height":5,"label":"Solution Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":480,"wires":[[]]},{"id":"4d2fccb1.69ee64","type":"ui_template","z":"ec41e117.84b2","group":"61cd564b.d9b7c8","name":"","order":18,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.139/csv/device6.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":820,"y":420,"wires":[[]]},{"id":"9e25025c.260a2","type":"debug","z":"ec41e117.84b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":40,"wires":[]},{"id":"df36b66d.5308b8","type":"firebase admin","z":"","name":"firebase condb"},{"id":"db390f86.e735d","type":"MySQLdatabase","z":"","name":"farm","host":"127.0.0.1","port":"3306","db":"farm","tz":""},{"id":"61cd564b.d9b7c8","type":"ui_group","z":"","name":"Dashboard","tab":"325ad8a9.d529a8","order":1,"disp":true,"width":20,"collapse":false},{"id":"325ad8a9.d529a8","type":"ui_tab","z":"","name":"Realtime Device6","icon":"Dashboard","order":7,"disabled":false,"hidden":true}]