backup/farm/flows4.json
[{"id":"c0635ec2.dfc41","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"9c2d00f6.df746","type":"function","z":"c0635ec2.dfc41","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    h: parseInt(data[0]),\n    t: parseInt(data[1]),\n    t2: parseInt(data[2]),\n    LDR: parseInt(data[3]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,4)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":260,"wires":[["421d0ad0.598214"]]},{"id":"212c2335.c3da6c","type":"udp in","z":"c0635ec2.dfc41","name":"Device 4","iface":"","port":"5003","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":80,"y":260,"wires":[["99ceb84a.05bb48","9c2d00f6.df746","792efca1.1f9ed4","ba6ae9f4.3fa0d8","d7ef5035.bbd39","4c0c46aa.e269d8","c8a349b6.015d58","9a2f327a.82916"]]},{"id":"99ceb84a.05bb48","type":"function","z":"c0635ec2.dfc41","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    \"humidity\": parseInt(data[0]),\n    \"temperature\": parseInt(data[1]),\n    \"temperature_ds18b20\": parseInt(data[2]),\n    \"LDR\": parseInt(data[3]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["c0ecdcf0.5b4ad"]]},{"id":"c0ecdcf0.5b4ad","type":"firebase out","z":"c0635ec2.dfc41","name":"device4","ref":"device4","operation":"push","admin":"df36b66d.5308b8","x":520,"y":180,"wires":[["e53c0b78.574ab8"]]},{"id":"e53c0b78.574ab8","type":"debug","z":"c0635ec2.dfc41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"421d0ad0.598214","type":"mysql","z":"c0635ec2.dfc41","mydb":"db390f86.e735d","name":"farm sql","x":520,"y":260,"wires":[["e53c0b78.574ab8"]]},{"id":"9a2f327a.82916","type":"file","z":"c0635ec2.dfc41","name":"","filename":"C:\\xampp\\htdocs\\csv\\device4.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":400,"y":100,"wires":[["13dbbf98.bffa7"]]},{"id":"13dbbf98.bffa7","type":"csv","z":"c0635ec2.dfc41","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":120,"wires":[["3ab93167.6137ae"]]},{"id":"3ab93167.6137ae","type":"debug","z":"c0635ec2.dfc41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"792efca1.1f9ed4","type":"function","z":"c0635ec2.dfc41","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["4ce33d20.01b044","abf0cc11.6a16f"]]},{"id":"ba6ae9f4.3fa0d8","type":"function","z":"c0635ec2.dfc41","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["81c5eaef.16c4b8","5d32ba34.0de664"]]},{"id":"4ce33d20.01b044","type":"ui_gauge","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":8,"width":6,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":360,"wires":[]},{"id":"81c5eaef.16c4b8","type":"ui_gauge","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":1,"width":6,"height":4,"gtype":"compass","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":440,"wires":[]},{"id":"d7ef5035.bbd39","type":"function","z":"c0635ec2.dfc41","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":500,"wires":[["cef42131.ee6d7","c2004069.c29a3"]]},{"id":"cef42131.ee6d7","type":"ui_gauge","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":15,"width":6,"height":5,"gtype":"compass","title":"Solution Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":520,"wires":[]},{"id":"4c0c46aa.e269d8","type":"function","z":"c0635ec2.dfc41","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["ef77d8db.308478"]]},{"id":"ef77d8db.308478","type":"ui_gauge","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":3,"width":7,"height":9,"gtype":"donut","title":"Light","label":"lx","format":"{{value}}","min":0,"max":"65535","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":560,"wires":[]},{"id":"abf0cc11.6a16f","type":"ui_chart","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":9,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":320,"wires":[[]]},{"id":"5d32ba34.0de664","type":"ui_chart","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":2,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":400,"wires":[[]]},{"id":"c2004069.c29a3","type":"ui_chart","z":"c0635ec2.dfc41","name":"ds18b20","group":"27ad3a89.6638b6","order":16,"width":6,"height":5,"label":"Solution Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":480,"wires":[[]]},{"id":"d046009f.1924d","type":"ui_template","z":"c0635ec2.dfc41","group":"27ad3a89.6638b6","name":"","order":18,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.139/csv/device4.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":820,"y":420,"wires":[[]]},{"id":"c8a349b6.015d58","type":"debug","z":"c0635ec2.dfc41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":40,"wires":[]},{"id":"df36b66d.5308b8","type":"firebase admin","z":"","name":"firebase condb"},{"id":"db390f86.e735d","type":"MySQLdatabase","z":"","name":"farm","host":"127.0.0.1","port":"3306","db":"farm","tz":""},{"id":"27ad3a89.6638b6","type":"ui_group","z":"","name":"Dashboard","tab":"1c87117a.cf1d5f","order":1,"disp":true,"width":"20","collapse":false},{"id":"1c87117a.cf1d5f","type":"ui_tab","z":"","name":"Realtime Device4","icon":"Dashboard","order":5,"disabled":false,"hidden":true}]