backup/farm/flows 3.json
[{"id":"6d68b5c.533184c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"36898d6e.04e452","type":"function","z":"6d68b5c.533184c","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    h: parseInt(data[0]),\n    t: parseInt(data[1]),\n    t2: parseInt(data[2]),\n    LDR: parseInt(data[3]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,3)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":260,"wires":[["a3978b0c.1a7518"]]},{"id":"9ac7881c.0ec658","type":"udp in","z":"6d68b5c.533184c","name":"Device 3","iface":"","port":"5002","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":80,"y":260,"wires":[["77750fb6.ff447","36898d6e.04e452","cf36cd02.3c2f7","35295181.81201e","d5224895.4cd608","bc265911.eba038","fedea0ce.5fb1e","16f7680d.b1d418"]]},{"id":"77750fb6.ff447","type":"function","z":"6d68b5c.533184c","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    \"humidity\": parseInt(data[0]),\n    \"temperature\": parseInt(data[1]),\n    \"temperature_ds18b20\": parseInt(data[2]),\n    \"LDR\": parseInt(data[3]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["954c10f2.68772"]]},{"id":"954c10f2.68772","type":"firebase out","z":"6d68b5c.533184c","name":"device3","ref":"device3","operation":"push","admin":"df36b66d.5308b8","x":520,"y":180,"wires":[["b3048ea2.c8bd2"]]},{"id":"b3048ea2.c8bd2","type":"debug","z":"6d68b5c.533184c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"a3978b0c.1a7518","type":"mysql","z":"6d68b5c.533184c","mydb":"db390f86.e735d","name":"farm sql","x":520,"y":260,"wires":[["b3048ea2.c8bd2"]]},{"id":"16f7680d.b1d418","type":"file","z":"6d68b5c.533184c","name":"","filename":"C:\\xampp\\htdocs\\csv\\device3.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":400,"y":100,"wires":[["74779b82.b9ccc4"]]},{"id":"74779b82.b9ccc4","type":"csv","z":"6d68b5c.533184c","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":120,"wires":[["3a44c2b2.4dbbfe"]]},{"id":"3a44c2b2.4dbbfe","type":"debug","z":"6d68b5c.533184c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"cf36cd02.3c2f7","type":"function","z":"6d68b5c.533184c","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["ed40bc2e.d17a9","9de7efd1.25524"]]},{"id":"35295181.81201e","type":"function","z":"6d68b5c.533184c","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["72f24755.c49b98","f46bc540.63b7a8"]]},{"id":"ed40bc2e.d17a9","type":"ui_gauge","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":8,"width":6,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":360,"wires":[]},{"id":"72f24755.c49b98","type":"ui_gauge","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":1,"width":6,"height":4,"gtype":"compass","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":440,"wires":[]},{"id":"d5224895.4cd608","type":"function","z":"6d68b5c.533184c","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":500,"wires":[["e1d7e88c.2d9138","2b8bf084.e451e"]]},{"id":"e1d7e88c.2d9138","type":"ui_gauge","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":15,"width":6,"height":5,"gtype":"compass","title":"Solution Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":520,"wires":[]},{"id":"bc265911.eba038","type":"function","z":"6d68b5c.533184c","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["c9a01128.d97cb"]]},{"id":"c9a01128.d97cb","type":"ui_gauge","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":3,"width":7,"height":9,"gtype":"donut","title":"Light","label":"lx","format":"{{value}}","min":0,"max":"65535","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":560,"wires":[]},{"id":"9de7efd1.25524","type":"ui_chart","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":9,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":320,"wires":[[]]},{"id":"f46bc540.63b7a8","type":"ui_chart","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":2,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":400,"wires":[[]]},{"id":"2b8bf084.e451e","type":"ui_chart","z":"6d68b5c.533184c","name":"ds18b20","group":"d62f9beb.abece8","order":16,"width":6,"height":5,"label":"Solution Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":480,"wires":[[]]},{"id":"b27a54db.81a368","type":"ui_template","z":"6d68b5c.533184c","group":"d62f9beb.abece8","name":"","order":18,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.139/csv/device3.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":820,"y":420,"wires":[[]]},{"id":"fedea0ce.5fb1e","type":"debug","z":"6d68b5c.533184c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":40,"wires":[]},{"id":"df36b66d.5308b8","type":"firebase admin","z":"","name":"firebase condb"},{"id":"db390f86.e735d","type":"MySQLdatabase","z":"","name":"farm","host":"127.0.0.1","port":"3306","db":"farm","tz":""},{"id":"d62f9beb.abece8","type":"ui_group","z":"","name":"Dashboard","tab":"72202574.09fa6c","order":1,"disp":true,"width":20,"collapse":false},{"id":"72202574.09fa6c","type":"ui_tab","z":"","name":"Realtime Device3","icon":"Dashboard","order":4,"disabled":false,"hidden":true}]