backup/farm/flows5.json
[{"id":"f7694c23.4a441","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"abf3cb58.14ca88","type":"function","z":"f7694c23.4a441","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    h: parseInt(data[0]),\n    t: parseInt(data[1]),\n    t2: parseInt(data[2]),\n    LDR: parseInt(data[3]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,5)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["91ca8136.e1c19"]]},{"id":"412ac23c.06d40c","type":"udp in","z":"f7694c23.4a441","name":"Device 5","iface":"","port":"5004","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":100,"y":260,"wires":[["ee138009.a7e4b","abf3cb58.14ca88","cd1f52.19f410b","f5a9ecb.202771","eb71f13a.783a8","9e77b71.2b8a348","879d0180.2aff9","7354411b.c1a9"]]},{"id":"ee138009.a7e4b","type":"function","z":"f7694c23.4a441","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    \"humidity\": parseInt(data[0]),\n    \"temperature\": parseInt(data[1]),\n    \"temperature_ds18b20\": parseInt(data[2]),\n    \"LDR\": parseInt(data[3]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["65f78396.37347c"]]},{"id":"65f78396.37347c","type":"firebase out","z":"f7694c23.4a441","name":"device5","ref":"device5","operation":"push","admin":"df36b66d.5308b8","x":540,"y":180,"wires":[["6f04c1ca.520ab"]]},{"id":"6f04c1ca.520ab","type":"debug","z":"f7694c23.4a441","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":220,"wires":[]},{"id":"91ca8136.e1c19","type":"mysql","z":"f7694c23.4a441","mydb":"db390f86.e735d","name":"farm sql","x":540,"y":260,"wires":[["6f04c1ca.520ab"]]},{"id":"7354411b.c1a9","type":"file","z":"f7694c23.4a441","name":"","filename":"C:\\xampp\\htdocs\\csv\\device5.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":420,"y":100,"wires":[["c2c05e40.fb1e1"]]},{"id":"c2c05e40.fb1e1","type":"csv","z":"f7694c23.4a441","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":650,"y":120,"wires":[["6a8075b6.bde3ac"]]},{"id":"6a8075b6.bde3ac","type":"debug","z":"f7694c23.4a441","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"cd1f52.19f410b","type":"function","z":"f7694c23.4a441","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":340,"wires":[["65f420d5.6158e","482a5f87.e5205"]]},{"id":"f5a9ecb.202771","type":"function","z":"f7694c23.4a441","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":420,"wires":[["13b43cf3.21bb03","509bd9f.eb7d028"]]},{"id":"65f420d5.6158e","type":"ui_gauge","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":8,"width":6,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"13b43cf3.21bb03","type":"ui_gauge","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":1,"width":6,"height":4,"gtype":"compass","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":440,"wires":[]},{"id":"eb71f13a.783a8","type":"function","z":"f7694c23.4a441","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":500,"wires":[["a31eb8b3.59b5c8","e2a3375f.1f4468"]]},{"id":"a31eb8b3.59b5c8","type":"ui_gauge","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":15,"width":6,"height":5,"gtype":"compass","title":"Solution Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":520,"wires":[]},{"id":"9e77b71.2b8a348","type":"function","z":"f7694c23.4a441","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":540,"wires":[["825bc451.c24a08"]]},{"id":"825bc451.c24a08","type":"ui_gauge","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":3,"width":7,"height":9,"gtype":"donut","title":"Light","label":"lx","format":"{{value}}","min":0,"max":"65535","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":560,"wires":[]},{"id":"482a5f87.e5205","type":"ui_chart","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":9,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":320,"wires":[[]]},{"id":"509bd9f.eb7d028","type":"ui_chart","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":2,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":400,"wires":[[]]},{"id":"e2a3375f.1f4468","type":"ui_chart","z":"f7694c23.4a441","name":"ds18b20","group":"1791dd06.f42af3","order":16,"width":6,"height":5,"label":"Solution Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":480,"wires":[[]]},{"id":"dae7647a.c05338","type":"ui_template","z":"f7694c23.4a441","group":"1791dd06.f42af3","name":"","order":18,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.139/csv/device5.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":840,"y":420,"wires":[[]]},{"id":"879d0180.2aff9","type":"debug","z":"f7694c23.4a441","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":40,"wires":[]},{"id":"df36b66d.5308b8","type":"firebase admin","z":"","name":"firebase condb"},{"id":"db390f86.e735d","type":"MySQLdatabase","z":"","name":"farm","host":"127.0.0.1","port":"3306","db":"farm","tz":""},{"id":"1791dd06.f42af3","type":"ui_group","z":"","name":"Dashboard","tab":"68833542.98ad2c","order":1,"disp":true,"width":20,"collapse":false},{"id":"68833542.98ad2c","type":"ui_tab","z":"","name":"Realtime Device5","icon":"Dashboard","order":6,"disabled":false,"hidden":true}]