backup/farm/flowsall.json
[{"id":"9aa2b35a.fb44a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f8e2620.16f058","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6d68b5c.533184c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c0635ec2.dfc41","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f7694c23.4a441","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"ec41e117.84b2","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"24ab386d.ae3938","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"df36b66d.5308b8","type":"firebase admin","z":"","name":"firebase condb"},{"id":"db390f86.e735d","type":"MySQLdatabase","z":"","name":"farm","host":"127.0.0.1","port":"3306","db":"farm","tz":""},{"id":"866d574.ed342a8","type":"gauth","z":""},{"id":"989b1159.09f52","type":"ui_tab","z":"","name":"Realtime Device1","icon":"Dashboard","order":2,"disabled":false,"hidden":true},{"id":"6c70d18a.3fd8b","type":"ui_group","z":"","name":"Dashboard","tab":"989b1159.09f52","order":1,"disp":true,"width":"20","collapse":false},{"id":"47c039c9.af8c58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":12,"cy":12,"px":0,"py":0}}},{"id":"e6be663d.218398","type":"ui_group","z":"","name":"Light Controls ","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"59af2053.624fe","type":"ui_group","z":"","name":"Météo","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"188db338.0abb6d","type":"websocket-listener","z":"8f8e2620.16f058","path":"/ws/simple","wholemsg":"false"},{"id":"4f7a6ac7.592f94","type":"ui_spacer","name":"spacer","group":"1ca24917.bfd237","order":1,"width":1,"height":1},{"id":"1811352d.59a30b","type":"ui_group","z":0,"name":"Shelly 1pm","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"3e68ba86.0403f6","type":"ui_group","z":"","name":"dG homeMation","tab":"","order":1,"disp":false,"width":"6"},{"id":"259e721c.f358ae","type":"ui_spacer","name":"spacer","group":"6c70d18a.3fd8b","order":8,"width":1,"height":1},{"id":"cb77ff55.34441","type":"ui_spacer","name":"spacer","group":"6c70d18a.3fd8b","order":10,"width":1,"height":1},{"id":"a0163ca.c7321c","type":"ui_spacer","name":"spacer","group":"6c70d18a.3fd8b","order":11,"width":1,"height":1},{"id":"9229dea7.2c1b2","type":"ui_spacer","name":"spacer","group":"6c70d18a.3fd8b","order":12,"width":1,"height":1},{"id":"8c842629.cd2ab8","type":"ui_spacer","name":"spacer","group":"6c70d18a.3fd8b","order":13,"width":1,"height":1},{"id":"3cd07845.be4ef8","type":"ui_spacer","name":"spacer","group":"6c70d18a.3fd8b","order":14,"width":1,"height":1},{"id":"66e103ae.032abc","type":"ui_spacer","name":"spacer","group":"6c70d18a.3fd8b","order":15,"width":1,"height":1},{"id":"297e06e7.75220a","type":"ui_spacer","name":"spacer","group":"6c70d18a.3fd8b","order":16,"width":1,"height":1},{"id":"5457d438.3d959c","type":"ui_spacer","name":"spacer","group":"6c70d18a.3fd8b","order":17,"width":2,"height":1},{"id":"506f245b.3d20ec","type":"ui_spacer","name":"spacer","group":"6c70d18a.3fd8b","order":19,"width":2,"height":1},{"id":"80e39719.9249f8","type":"ui_group","name":"Group 1","tab":null,"order":1,"disp":true,"width":6},{"id":"d7977a65.78b108","type":"ui_group","name":"Group 2","tab":null,"order":2,"disp":true,"width":6},{"id":"e1a86f67.77ba5","type":"ui_tab","z":"","name":"000000000","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"18b6c10d.f7e49f","type":"ui_group","name":"Group 1","tab":"e1a86f67.77ba5","order":1,"disp":true,"width":6},{"id":"65532314.b4110c","type":"ui_tab","z":"","name":"Realtime Device2","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"a1e3eac0.34a018","type":"ui_group","z":"","name":"Dashboard","tab":"65532314.b4110c","order":1,"disp":true,"width":"20","collapse":false},{"id":"507442fd.d249fc","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":4,"width":1,"height":1},{"id":"cb22c894.bcf308","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":5,"width":1,"height":1},{"id":"d33f72d.bd2db9","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":6,"width":1,"height":1},{"id":"82493489.2e8738","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":7,"width":1,"height":1},{"id":"9d953426.41caf8","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":10,"width":1,"height":1},{"id":"7d9c68c5.0332d8","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":11,"width":1,"height":1},{"id":"9ab348f5.da14c8","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":12,"width":1,"height":1},{"id":"6189d90d.eb8b38","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":13,"width":1,"height":1},{"id":"b1f96695.d51c68","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":14,"width":1,"height":1},{"id":"d63fd80c.c7df28","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":17,"width":1,"height":1},{"id":"e99a0d3.afc18f","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":19,"width":2,"height":1},{"id":"4dd1612b.a119e","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":20,"width":1,"height":1},{"id":"8053c786.b5fbc8","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":21,"width":2,"height":1},{"id":"1039f9bc.6639e6","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":22,"width":1,"height":1},{"id":"9c93541a.55b0c8","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":23,"width":2,"height":1},{"id":"ce50ae86.2639f","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":24,"width":1,"height":1},{"id":"329212c1.70effe","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":25,"width":2,"height":1},{"id":"fb2e0e0f.de6a3","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":26,"width":8,"height":1},{"id":"72202574.09fa6c","type":"ui_tab","z":"","name":"Realtime Device3","icon":"Dashboard","order":4,"disabled":false,"hidden":true},{"id":"d62f9beb.abece8","type":"ui_group","z":"","name":"Dashboard","tab":"72202574.09fa6c","order":1,"disp":true,"width":20,"collapse":false},{"id":"ee56031a.dc6a3","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":4,"width":1,"height":1},{"id":"c5720365.b8f6d","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":5,"width":1,"height":1},{"id":"561476fb.0ab1c8","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":6,"width":1,"height":1},{"id":"76c5abcb.d06a34","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":7,"width":1,"height":1},{"id":"da79ddf5.75a78","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":10,"width":1,"height":1},{"id":"2a7e890e.5ad426","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":11,"width":1,"height":1},{"id":"a3dec3e6.63a8e","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":12,"width":1,"height":1},{"id":"9e8d829b.ea508","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":13,"width":1,"height":1},{"id":"f623ff96.eb1cc","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":14,"width":1,"height":1},{"id":"68abe000.a2a6e","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":17,"width":1,"height":1},{"id":"66bb57f0.ff5318","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":19,"width":2,"height":1},{"id":"1d040c27.0c7574","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":20,"width":1,"height":1},{"id":"96b31fda.82408","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":21,"width":2,"height":1},{"id":"b84ff068.38fcd","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":22,"width":1,"height":1},{"id":"36372232.617e8e","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":23,"width":2,"height":1},{"id":"b66a1470.6e9808","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":24,"width":1,"height":1},{"id":"51be7fa4.74554","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":25,"width":2,"height":1},{"id":"c053d44f.4f44e8","type":"ui_spacer","name":"spacer","group":"d62f9beb.abece8","order":26,"width":8,"height":1},{"id":"1c87117a.cf1d5f","type":"ui_tab","z":"","name":"Realtime Device4","icon":"Dashboard","order":5,"disabled":false,"hidden":true},{"id":"27ad3a89.6638b6","type":"ui_group","z":"","name":"Dashboard","tab":"1c87117a.cf1d5f","order":1,"disp":true,"width":"20","collapse":false},{"id":"68833542.98ad2c","type":"ui_tab","z":"","name":"Realtime Device5","icon":"Dashboard","order":6,"disabled":false,"hidden":true},{"id":"1791dd06.f42af3","type":"ui_group","z":"","name":"Dashboard","tab":"68833542.98ad2c","order":1,"disp":true,"width":20,"collapse":false},{"id":"325ad8a9.d529a8","type":"ui_tab","z":"","name":"Realtime Device6","icon":"Dashboard","order":7,"disabled":false,"hidden":true},{"id":"61cd564b.d9b7c8","type":"ui_group","z":"","name":"Dashboard","tab":"325ad8a9.d529a8","order":1,"disp":true,"width":20,"collapse":false},{"id":"1c34e690.b0c739","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":4,"width":1,"height":1},{"id":"925be35c.eec1","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":5,"width":1,"height":1},{"id":"e6bd7ed1.bdbaa","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":6,"width":1,"height":1},{"id":"b3f9cb8e.8adec8","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":7,"width":1,"height":1},{"id":"c4902b3.0ef1bd8","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":10,"width":1,"height":1},{"id":"9ddefe45.3ef24","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":11,"width":1,"height":1},{"id":"d5ec5889.21ecc8","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":12,"width":1,"height":1},{"id":"aa0675c4.bfe7c8","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":13,"width":1,"height":1},{"id":"d3892358.f2da7","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":14,"width":1,"height":1},{"id":"f3351315.81bde","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":17,"width":1,"height":1},{"id":"b30a8127.ba379","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":19,"width":2,"height":1},{"id":"4bcd3a18.9942e4","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":20,"width":1,"height":1},{"id":"4510997c.69abd8","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":21,"width":2,"height":1},{"id":"fd5165e7.1c3278","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":22,"width":1,"height":1},{"id":"26b4733e.c4f2fc","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":23,"width":2,"height":1},{"id":"6191ef75.8796b","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":24,"width":1,"height":1},{"id":"d37cb528.de9918","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":25,"width":2,"height":1},{"id":"f0d74c84.83c7e","type":"ui_spacer","name":"spacer","group":"27ad3a89.6638b6","order":26,"width":8,"height":1},{"id":"257f9fba.03601","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":4,"width":1,"height":1},{"id":"2af52e8a.037ec2","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":5,"width":1,"height":1},{"id":"76aa7af2.caed94","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":6,"width":1,"height":1},{"id":"2b552be.d19c8d4","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":7,"width":1,"height":1},{"id":"152b8cc3.541173","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":10,"width":1,"height":1},{"id":"89e63f3d.67eed","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":11,"width":1,"height":1},{"id":"f42060d1.e71a7","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":12,"width":1,"height":1},{"id":"7a4b160f.a0a358","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":13,"width":1,"height":1},{"id":"86e40411.9787b8","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":14,"width":1,"height":1},{"id":"e4a3f430.348cb8","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":17,"width":1,"height":1},{"id":"1b251cf3.aa9673","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":19,"width":2,"height":1},{"id":"904030df.fd0f8","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":20,"width":1,"height":1},{"id":"2e03fb4b.9f21e4","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":21,"width":2,"height":1},{"id":"20ca713d.f3008e","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":22,"width":1,"height":1},{"id":"4c4e3285.c330fc","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":23,"width":2,"height":1},{"id":"98e993e9.42e27","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":24,"width":1,"height":1},{"id":"a8a166f8.64ba58","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":25,"width":2,"height":1},{"id":"f1700d82.80512","type":"ui_spacer","name":"spacer","group":"1791dd06.f42af3","order":26,"width":8,"height":1},{"id":"a1458305.2c065","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":4,"width":1,"height":1},{"id":"14965d3f.85f323","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":5,"width":1,"height":1},{"id":"4caa1bf3.a69424","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":6,"width":1,"height":1},{"id":"588c0202.08457c","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":7,"width":1,"height":1},{"id":"ea64d9fc.9b2f38","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":10,"width":1,"height":1},{"id":"760e178a.571c58","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":11,"width":1,"height":1},{"id":"e3370afe.d7de38","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":12,"width":1,"height":1},{"id":"7db85dd1.845ba4","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":13,"width":1,"height":1},{"id":"c3c60eba.ce678","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":14,"width":1,"height":1},{"id":"8cf84865.7f8fb8","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":17,"width":1,"height":1},{"id":"6cf76248.250edc","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":19,"width":2,"height":1},{"id":"880cfed0.7f3cd","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":20,"width":1,"height":1},{"id":"84ec24c0.aaa7e8","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":21,"width":2,"height":1},{"id":"3cc1a661.06329a","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":22,"width":1,"height":1},{"id":"a002b430.bed258","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":23,"width":2,"height":1},{"id":"b1261c5c.195a6","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":24,"width":1,"height":1},{"id":"6a23bcf6.a41484","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":25,"width":2,"height":1},{"id":"b142ba1.18b8f48","type":"ui_spacer","name":"spacer","group":"61cd564b.d9b7c8","order":26,"width":8,"height":1},{"id":"8dc86c05.06162","type":"function","z":"9aa2b35a.fb44a","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    h: parseInt(data[0]),\n    t: parseInt(data[1]),\n    t2: parseInt(data[2]),\n    LDR: parseInt(data[3]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,1)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":280,"wires":[["e6da69b5.00c968"]]},{"id":"8244b09f.7a385","type":"udp in","z":"9aa2b35a.fb44a","name":"Device 1","iface":"","port":"5000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":120,"y":280,"wires":[["705ae304.9c598c","8dc86c05.06162","9df9a6af.4c8898","9ec78b9.08e1278","d4860eb1.098a7","4a371bb8.8285f4","9232ced2.6be3e","f69ec02.857a94"]]},{"id":"705ae304.9c598c","type":"function","z":"9aa2b35a.fb44a","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    \"humidity\": parseInt(data[0]),\n    \"temperature\": parseInt(data[1]),\n    \"temperature_ds18b20\": parseInt(data[2]),\n    \"LDR\": parseInt(data[3]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":200,"wires":[["fafd005a.a6682"]]},{"id":"fafd005a.a6682","type":"firebase out","z":"9aa2b35a.fb44a","name":"device1","ref":"device1","operation":"push","admin":"df36b66d.5308b8","x":560,"y":200,"wires":[["3008a4a2.24fe9c"]]},{"id":"3008a4a2.24fe9c","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":240,"wires":[]},{"id":"e6da69b5.00c968","type":"mysql","z":"9aa2b35a.fb44a","mydb":"db390f86.e735d","name":"farm sql","x":560,"y":280,"wires":[["3008a4a2.24fe9c"]]},{"id":"f69ec02.857a94","type":"file","z":"9aa2b35a.fb44a","name":"","filename":"C:\\xampp\\htdocs\\csv\\device1.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":440,"y":120,"wires":[["e1df164a.6d5628"]]},{"id":"e1df164a.6d5628","type":"csv","z":"9aa2b35a.fb44a","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":140,"wires":[["1867dfa4.74751"]]},{"id":"1867dfa4.74751","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":140,"wires":[]},{"id":"49e7024c.cff4ec","type":"http request","z":"9aa2b35a.fb44a","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://docs.google.com/spreadsheets/d/1FnUHiQS4RTX_AZ4pc9MK713yDpMPRDlWKStKB-JmePE/edit#gid=270480692","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":680,"wires":[["21c2b14d.69bfbe"]]},{"id":"21c2b14d.69bfbe","type":"function","z":"9aa2b35a.fb44a","name":"","func":"p=JSON.parse(msg.payload)\nmsg.payload={\n    \"temp\":p.dht[0].value,\n    \"temp2\":p.ds18[0].value\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":680,"wires":[["165a0f66.5ca471"]]},{"id":"165a0f66.5ca471","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":700,"wires":[]},{"id":"fed8c1cf.b11b5","type":"GSheet","z":"9aa2b35a.fb44a","creds":"866d574.ed342a8","method":"append","action":"","sheet":"1FnUHiQS4RTX_AZ4pc9MK713yDpMPRDlWKStKB-JmePE/edit#gid=270480692","cells":"Sheet1!A1:B2","flatten":false,"name":"sheet","x":580,"y":760,"wires":[["625f8d88.1681c4"]]},{"id":"e222b9d3.17bc58","type":"inject","z":"9aa2b35a.fb44a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":760,"wires":[["fed8c1cf.b11b5"]]},{"id":"625f8d88.1681c4","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":800,"wires":[]},{"id":"9d684e28.001d1","type":"function","z":"9aa2b35a.fb44a","name":"","func":"\nmsg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer hGcQRT9ISTO8H1CApvz0sDKNQhdOuLw9ejNS4fv8yGh'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":920,"wires":[["e927b8e.4e49348"]]},{"id":"e927b8e.4e49348","type":"http request","z":"9aa2b35a.fb44a","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":940,"wires":[["89743b7f.144578"]]},{"id":"17833e9.68416c1","type":"inject","z":"9aa2b35a.fb44a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":940,"wires":[["aa5069cc.88c468","9d684e28.001d1"]]},{"id":"89743b7f.144578","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":960,"wires":[]},{"id":"aa5069cc.88c468","type":"function","z":"9aa2b35a.fb44a","name":"","func":"\nmsg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer aGsA3R4APnt2l5pheTz4N6XM0FYMXAN2igN6q7xmSsG'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":980,"wires":[["e927b8e.4e49348"]]},{"id":"9df9a6af.4c8898","type":"function","z":"9aa2b35a.fb44a","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[["d329e5d3.9a7fb8","a24ef22e.fd591"]]},{"id":"9ec78b9.08e1278","type":"function","z":"9aa2b35a.fb44a","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":440,"wires":[["cab417c5.c89d08","582d2f9b.0cf"]]},{"id":"d329e5d3.9a7fb8","type":"ui_gauge","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":4,"width":7,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":380,"wires":[]},{"id":"cab417c5.c89d08","type":"ui_gauge","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":1,"width":7,"height":4,"gtype":"compass","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":460,"wires":[]},{"id":"d4860eb1.098a7","type":"function","z":"9aa2b35a.fb44a","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":520,"wires":[["5526c01b.0d5e9","c10c229.9315ce"]]},{"id":"5526c01b.0d5e9","type":"ui_gauge","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":6,"width":7,"height":5,"gtype":"compass","title":"Solution Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":540,"wires":[]},{"id":"4a371bb8.8285f4","type":"function","z":"9aa2b35a.fb44a","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":560,"wires":[["f7a17bbf.4aa068"]]},{"id":"f7a17bbf.4aa068","type":"ui_gauge","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":3,"width":7,"height":9,"gtype":"donut","title":"Light","label":"lx","format":"{{value}}","min":0,"max":"65535","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":580,"wires":[]},{"id":"a24ef22e.fd591","type":"ui_chart","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":5,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":340,"wires":[[]]},{"id":"582d2f9b.0cf","type":"ui_chart","z":"9aa2b35a.fb44a","name":"","group":"6c70d18a.3fd8b","order":2,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":420,"wires":[[]]},{"id":"c10c229.9315ce","type":"ui_chart","z":"9aa2b35a.fb44a","name":"ds18b20","group":"6c70d18a.3fd8b","order":7,"width":6,"height":5,"label":"Solution Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":500,"wires":[[]]},{"id":"2ec43b.6d955bc6","type":"ui_template","z":"9aa2b35a.fb44a","group":"6c70d18a.3fd8b","name":"","order":9,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.139/csv/device1.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":460,"wires":[[]]},{"id":"9461138c.8b19b","type":"ui_gauge","z":"9aa2b35a.fb44a","name":"","group":"18b6c10d.f7e49f","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":680,"wires":[]},{"id":"9232ced2.6be3e","type":"debug","z":"9aa2b35a.fb44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":60,"wires":[]},{"id":"c002e159.2c7cb","type":"function","z":"8f8e2620.16f058","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    h: parseInt(data[0]),\n    t: parseInt(data[1]),\n    t2: parseInt(data[2]),\n    LDR: parseInt(data[3]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,2)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":280,"wires":[["7a90380f.11fed8"]]},{"id":"c7b7743f.ce0678","type":"udp in","z":"8f8e2620.16f058","name":"Device 2","iface":"","port":"5001","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":60,"y":280,"wires":[["11f5fa2d.6ee346","c002e159.2c7cb","2bfa322f.e7ab2e","d1df5bad.7b0338","1ebc8df.7cebc72","38c84b3c.ed1734","15232cb3.74e373","80b9ab0e.a5ae78"]]},{"id":"11f5fa2d.6ee346","type":"function","z":"8f8e2620.16f058","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    \"humidity\": parseInt(data[0]),\n    \"temperature\": parseInt(data[1]),\n    \"temperature_ds18b20\": parseInt(data[2]),\n    \"LDR\": parseInt(data[3]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":200,"wires":[["ece5ae.5b144a5"]]},{"id":"ece5ae.5b144a5","type":"firebase out","z":"8f8e2620.16f058","name":"device2","ref":"device2","operation":"push","admin":"df36b66d.5308b8","x":500,"y":200,"wires":[["7d3aa4d8.ca2cfc"]]},{"id":"7d3aa4d8.ca2cfc","type":"debug","z":"8f8e2620.16f058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":240,"wires":[]},{"id":"7a90380f.11fed8","type":"mysql","z":"8f8e2620.16f058","mydb":"db390f86.e735d","name":"farm sql","x":500,"y":280,"wires":[["7d3aa4d8.ca2cfc"]]},{"id":"80b9ab0e.a5ae78","type":"file","z":"8f8e2620.16f058","name":"","filename":"C:\\xampp\\htdocs\\csv\\device2.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":380,"y":120,"wires":[["10f0e5d6.a126da"]]},{"id":"10f0e5d6.a126da","type":"csv","z":"8f8e2620.16f058","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":610,"y":140,"wires":[["2c831b7a.67b7e4"]]},{"id":"2c831b7a.67b7e4","type":"debug","z":"8f8e2620.16f058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":140,"wires":[]},{"id":"2bfa322f.e7ab2e","type":"function","z":"8f8e2620.16f058","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["78da3506.85690c","7eab9047.de109"]]},{"id":"d1df5bad.7b0338","type":"function","z":"8f8e2620.16f058","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":440,"wires":[["160ea17f.0127ef","c7b8cdb9.f63e7"]]},{"id":"78da3506.85690c","type":"ui_gauge","z":"8f8e2620.16f058","name":"","group":"a1e3eac0.34a018","order":8,"width":6,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":380,"wires":[]},{"id":"160ea17f.0127ef","type":"ui_gauge","z":"8f8e2620.16f058","name":"","group":"a1e3eac0.34a018","order":1,"width":6,"height":4,"gtype":"compass","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":460,"wires":[]},{"id":"1ebc8df.7cebc72","type":"function","z":"8f8e2620.16f058","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":520,"wires":[["a7313f62.01892","c96aace1.29f09"]]},{"id":"a7313f62.01892","type":"ui_gauge","z":"8f8e2620.16f058","name":"","group":"a1e3eac0.34a018","order":15,"width":6,"height":5,"gtype":"compass","title":"Solution Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":540,"wires":[]},{"id":"38c84b3c.ed1734","type":"function","z":"8f8e2620.16f058","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":560,"wires":[["65cdabf5.035304"]]},{"id":"65cdabf5.035304","type":"ui_gauge","z":"8f8e2620.16f058","name":"","group":"a1e3eac0.34a018","order":3,"width":7,"height":9,"gtype":"donut","title":"Light","label":"lx","format":"{{value}}","min":0,"max":"65535","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":580,"wires":[]},{"id":"7eab9047.de109","type":"ui_chart","z":"8f8e2620.16f058","name":"","group":"a1e3eac0.34a018","order":9,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":340,"wires":[[]]},{"id":"c7b8cdb9.f63e7","type":"ui_chart","z":"8f8e2620.16f058","name":"","group":"a1e3eac0.34a018","order":2,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":420,"wires":[[]]},{"id":"c96aace1.29f09","type":"ui_chart","z":"8f8e2620.16f058","name":"ds18b20","group":"a1e3eac0.34a018","order":16,"width":6,"height":5,"label":"Solution Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":500,"wires":[[]]},{"id":"850ca518.387978","type":"ui_template","z":"8f8e2620.16f058","group":"a1e3eac0.34a018","name":"","order":18,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.139/csv/device2.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":440,"wires":[[]]},{"id":"15232cb3.74e373","type":"debug","z":"8f8e2620.16f058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":60,"wires":[]},{"id":"36898d6e.04e452","type":"function","z":"6d68b5c.533184c","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    h: parseInt(data[0]),\n    t: parseInt(data[1]),\n    t2: parseInt(data[2]),\n    LDR: parseInt(data[3]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,3)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":260,"wires":[["a3978b0c.1a7518"]]},{"id":"9ac7881c.0ec658","type":"udp in","z":"6d68b5c.533184c","name":"Device 3","iface":"","port":"5002","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":80,"y":260,"wires":[["77750fb6.ff447","36898d6e.04e452","cf36cd02.3c2f7","35295181.81201e","d5224895.4cd608","bc265911.eba038","fedea0ce.5fb1e","16f7680d.b1d418"]]},{"id":"77750fb6.ff447","type":"function","z":"6d68b5c.533184c","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    \"humidity\": parseInt(data[0]),\n    \"temperature\": parseInt(data[1]),\n    \"temperature_ds18b20\": parseInt(data[2]),\n    \"LDR\": parseInt(data[3]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["954c10f2.68772"]]},{"id":"954c10f2.68772","type":"firebase out","z":"6d68b5c.533184c","name":"device3","ref":"device3","operation":"push","admin":"df36b66d.5308b8","x":520,"y":180,"wires":[["b3048ea2.c8bd2"]]},{"id":"b3048ea2.c8bd2","type":"debug","z":"6d68b5c.533184c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"a3978b0c.1a7518","type":"mysql","z":"6d68b5c.533184c","mydb":"db390f86.e735d","name":"farm sql","x":520,"y":260,"wires":[["b3048ea2.c8bd2"]]},{"id":"16f7680d.b1d418","type":"file","z":"6d68b5c.533184c","name":"","filename":"C:\\xampp\\htdocs\\csv\\device3.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":400,"y":100,"wires":[["74779b82.b9ccc4"]]},{"id":"74779b82.b9ccc4","type":"csv","z":"6d68b5c.533184c","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":120,"wires":[["3a44c2b2.4dbbfe"]]},{"id":"3a44c2b2.4dbbfe","type":"debug","z":"6d68b5c.533184c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"cf36cd02.3c2f7","type":"function","z":"6d68b5c.533184c","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["ed40bc2e.d17a9","9de7efd1.25524"]]},{"id":"35295181.81201e","type":"function","z":"6d68b5c.533184c","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["72f24755.c49b98","f46bc540.63b7a8"]]},{"id":"ed40bc2e.d17a9","type":"ui_gauge","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":8,"width":6,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":360,"wires":[]},{"id":"72f24755.c49b98","type":"ui_gauge","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":1,"width":6,"height":4,"gtype":"compass","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":440,"wires":[]},{"id":"d5224895.4cd608","type":"function","z":"6d68b5c.533184c","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":500,"wires":[["e1d7e88c.2d9138","2b8bf084.e451e"]]},{"id":"e1d7e88c.2d9138","type":"ui_gauge","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":15,"width":6,"height":5,"gtype":"compass","title":"Solution Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":520,"wires":[]},{"id":"bc265911.eba038","type":"function","z":"6d68b5c.533184c","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["c9a01128.d97cb"]]},{"id":"c9a01128.d97cb","type":"ui_gauge","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":3,"width":7,"height":9,"gtype":"donut","title":"Light","label":"lx","format":"{{value}}","min":0,"max":"65535","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":560,"wires":[]},{"id":"9de7efd1.25524","type":"ui_chart","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":9,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":320,"wires":[[]]},{"id":"f46bc540.63b7a8","type":"ui_chart","z":"6d68b5c.533184c","name":"","group":"d62f9beb.abece8","order":2,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":400,"wires":[[]]},{"id":"2b8bf084.e451e","type":"ui_chart","z":"6d68b5c.533184c","name":"ds18b20","group":"d62f9beb.abece8","order":16,"width":6,"height":5,"label":"Solution Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":480,"wires":[[]]},{"id":"b27a54db.81a368","type":"ui_template","z":"6d68b5c.533184c","group":"d62f9beb.abece8","name":"","order":18,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.139/csv/device3.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":820,"y":420,"wires":[[]]},{"id":"fedea0ce.5fb1e","type":"debug","z":"6d68b5c.533184c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":40,"wires":[]},{"id":"9c2d00f6.df746","type":"function","z":"c0635ec2.dfc41","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    h: parseInt(data[0]),\n    t: parseInt(data[1]),\n    t2: parseInt(data[2]),\n    LDR: parseInt(data[3]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,4)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":260,"wires":[["421d0ad0.598214"]]},{"id":"212c2335.c3da6c","type":"udp in","z":"c0635ec2.dfc41","name":"Device 4","iface":"","port":"5003","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":80,"y":260,"wires":[["99ceb84a.05bb48","9c2d00f6.df746","792efca1.1f9ed4","ba6ae9f4.3fa0d8","d7ef5035.bbd39","4c0c46aa.e269d8","c8a349b6.015d58","9a2f327a.82916"]]},{"id":"99ceb84a.05bb48","type":"function","z":"c0635ec2.dfc41","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    \"humidity\": parseInt(data[0]),\n    \"temperature\": parseInt(data[1]),\n    \"temperature_ds18b20\": parseInt(data[2]),\n    \"LDR\": parseInt(data[3]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["c0ecdcf0.5b4ad"]]},{"id":"c0ecdcf0.5b4ad","type":"firebase out","z":"c0635ec2.dfc41","name":"device4","ref":"device4","operation":"push","admin":"df36b66d.5308b8","x":520,"y":180,"wires":[["e53c0b78.574ab8"]]},{"id":"e53c0b78.574ab8","type":"debug","z":"c0635ec2.dfc41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"421d0ad0.598214","type":"mysql","z":"c0635ec2.dfc41","mydb":"db390f86.e735d","name":"farm sql","x":520,"y":260,"wires":[["e53c0b78.574ab8"]]},{"id":"9a2f327a.82916","type":"file","z":"c0635ec2.dfc41","name":"","filename":"C:\\xampp\\htdocs\\csv\\device4.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":400,"y":100,"wires":[["13dbbf98.bffa7"]]},{"id":"13dbbf98.bffa7","type":"csv","z":"c0635ec2.dfc41","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":120,"wires":[["3ab93167.6137ae"]]},{"id":"3ab93167.6137ae","type":"debug","z":"c0635ec2.dfc41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"792efca1.1f9ed4","type":"function","z":"c0635ec2.dfc41","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["4ce33d20.01b044","abf0cc11.6a16f"]]},{"id":"ba6ae9f4.3fa0d8","type":"function","z":"c0635ec2.dfc41","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["81c5eaef.16c4b8","5d32ba34.0de664"]]},{"id":"4ce33d20.01b044","type":"ui_gauge","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":8,"width":6,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":360,"wires":[]},{"id":"81c5eaef.16c4b8","type":"ui_gauge","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":1,"width":6,"height":4,"gtype":"compass","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":440,"wires":[]},{"id":"d7ef5035.bbd39","type":"function","z":"c0635ec2.dfc41","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":500,"wires":[["cef42131.ee6d7","c2004069.c29a3"]]},{"id":"cef42131.ee6d7","type":"ui_gauge","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":15,"width":6,"height":5,"gtype":"compass","title":"Solution Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":520,"wires":[]},{"id":"4c0c46aa.e269d8","type":"function","z":"c0635ec2.dfc41","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["ef77d8db.308478"]]},{"id":"ef77d8db.308478","type":"ui_gauge","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":3,"width":7,"height":9,"gtype":"donut","title":"Light","label":"lx","format":"{{value}}","min":0,"max":"65535","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":560,"wires":[]},{"id":"abf0cc11.6a16f","type":"ui_chart","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":9,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":320,"wires":[[]]},{"id":"5d32ba34.0de664","type":"ui_chart","z":"c0635ec2.dfc41","name":"","group":"27ad3a89.6638b6","order":2,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":400,"wires":[[]]},{"id":"c2004069.c29a3","type":"ui_chart","z":"c0635ec2.dfc41","name":"ds18b20","group":"27ad3a89.6638b6","order":16,"width":6,"height":5,"label":"Solution Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":480,"wires":[[]]},{"id":"d046009f.1924d","type":"ui_template","z":"c0635ec2.dfc41","group":"27ad3a89.6638b6","name":"","order":18,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.139/csv/device4.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":820,"y":420,"wires":[[]]},{"id":"c8a349b6.015d58","type":"debug","z":"c0635ec2.dfc41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":40,"wires":[]},{"id":"abf3cb58.14ca88","type":"function","z":"f7694c23.4a441","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    h: parseInt(data[0]),\n    t: parseInt(data[1]),\n    t2: parseInt(data[2]),\n    LDR: parseInt(data[3]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,5)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["91ca8136.e1c19"]]},{"id":"412ac23c.06d40c","type":"udp in","z":"f7694c23.4a441","name":"Device 5","iface":"","port":"5004","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":100,"y":260,"wires":[["ee138009.a7e4b","abf3cb58.14ca88","cd1f52.19f410b","f5a9ecb.202771","eb71f13a.783a8","9e77b71.2b8a348","879d0180.2aff9","7354411b.c1a9"]]},{"id":"ee138009.a7e4b","type":"function","z":"f7694c23.4a441","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    \"humidity\": parseInt(data[0]),\n    \"temperature\": parseInt(data[1]),\n    \"temperature_ds18b20\": parseInt(data[2]),\n    \"LDR\": parseInt(data[3]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["65f78396.37347c"]]},{"id":"65f78396.37347c","type":"firebase out","z":"f7694c23.4a441","name":"device5","ref":"device5","operation":"push","admin":"df36b66d.5308b8","x":540,"y":180,"wires":[["6f04c1ca.520ab"]]},{"id":"6f04c1ca.520ab","type":"debug","z":"f7694c23.4a441","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":220,"wires":[]},{"id":"91ca8136.e1c19","type":"mysql","z":"f7694c23.4a441","mydb":"db390f86.e735d","name":"farm sql","x":540,"y":260,"wires":[["6f04c1ca.520ab"]]},{"id":"7354411b.c1a9","type":"file","z":"f7694c23.4a441","name":"","filename":"C:\\xampp\\htdocs\\csv\\device5.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":420,"y":100,"wires":[["c2c05e40.fb1e1"]]},{"id":"c2c05e40.fb1e1","type":"csv","z":"f7694c23.4a441","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":650,"y":120,"wires":[["6a8075b6.bde3ac"]]},{"id":"6a8075b6.bde3ac","type":"debug","z":"f7694c23.4a441","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"cd1f52.19f410b","type":"function","z":"f7694c23.4a441","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":340,"wires":[["65f420d5.6158e","482a5f87.e5205"]]},{"id":"f5a9ecb.202771","type":"function","z":"f7694c23.4a441","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":420,"wires":[["13b43cf3.21bb03","509bd9f.eb7d028"]]},{"id":"65f420d5.6158e","type":"ui_gauge","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":8,"width":6,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"13b43cf3.21bb03","type":"ui_gauge","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":1,"width":6,"height":4,"gtype":"compass","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":440,"wires":[]},{"id":"eb71f13a.783a8","type":"function","z":"f7694c23.4a441","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":500,"wires":[["a31eb8b3.59b5c8","e2a3375f.1f4468"]]},{"id":"a31eb8b3.59b5c8","type":"ui_gauge","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":15,"width":6,"height":5,"gtype":"compass","title":"Solution Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":520,"wires":[]},{"id":"9e77b71.2b8a348","type":"function","z":"f7694c23.4a441","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":540,"wires":[["825bc451.c24a08"]]},{"id":"825bc451.c24a08","type":"ui_gauge","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":3,"width":7,"height":9,"gtype":"donut","title":"Light","label":"lx","format":"{{value}}","min":0,"max":"65535","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":560,"wires":[]},{"id":"482a5f87.e5205","type":"ui_chart","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":9,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":320,"wires":[[]]},{"id":"509bd9f.eb7d028","type":"ui_chart","z":"f7694c23.4a441","name":"","group":"1791dd06.f42af3","order":2,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":400,"wires":[[]]},{"id":"e2a3375f.1f4468","type":"ui_chart","z":"f7694c23.4a441","name":"ds18b20","group":"1791dd06.f42af3","order":16,"width":6,"height":5,"label":"Solution Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":480,"wires":[[]]},{"id":"dae7647a.c05338","type":"ui_template","z":"f7694c23.4a441","group":"1791dd06.f42af3","name":"","order":18,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.139/csv/device5.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":840,"y":420,"wires":[[]]},{"id":"879d0180.2aff9","type":"debug","z":"f7694c23.4a441","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":40,"wires":[]},{"id":"4a757791.36dba8","type":"function","z":"ec41e117.84b2","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    h: parseInt(data[0]),\n    t: parseInt(data[1]),\n    t2: parseInt(data[2]),\n    LDR: parseInt(data[3]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,6)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":260,"wires":[["5fdd0db5.213f64"]]},{"id":"4a7dd9d9.47bac8","type":"udp in","z":"ec41e117.84b2","name":"Device 6","iface":"","port":"5005","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":80,"y":260,"wires":[["8faf612.dbb59a","4a757791.36dba8","3e7c7708.21b8b8","b865c6f6.9bc898","31afe9d3.e2d8e6","8aab02c0.ae618","9e25025c.260a2","9822543.fd95ca8"]]},{"id":"8faf612.dbb59a","type":"function","z":"ec41e117.84b2","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    \"humidity\": parseInt(data[0]),\n    \"temperature\": parseInt(data[1]),\n    \"temperature_ds18b20\": parseInt(data[2]),\n    \"LDR\": parseInt(data[3]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["72413662.1a3098"]]},{"id":"72413662.1a3098","type":"firebase out","z":"ec41e117.84b2","name":"device6","ref":"device6","operation":"push","admin":"df36b66d.5308b8","x":520,"y":180,"wires":[["f7dcf71a.d63758"]]},{"id":"f7dcf71a.d63758","type":"debug","z":"ec41e117.84b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"5fdd0db5.213f64","type":"mysql","z":"ec41e117.84b2","mydb":"db390f86.e735d","name":"farm sql","x":520,"y":260,"wires":[["f7dcf71a.d63758"]]},{"id":"9822543.fd95ca8","type":"file","z":"ec41e117.84b2","name":"","filename":"C:\\xampp\\htdocs\\csv\\device6.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":400,"y":100,"wires":[["40fff42e.00efec"]]},{"id":"40fff42e.00efec","type":"csv","z":"ec41e117.84b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":120,"wires":[["fd33c768.9f3188"]]},{"id":"fd33c768.9f3188","type":"debug","z":"ec41e117.84b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"3e7c7708.21b8b8","type":"function","z":"ec41e117.84b2","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["2f1af352.d6e80c","51080764.03fb28"]]},{"id":"b865c6f6.9bc898","type":"function","z":"ec41e117.84b2","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["f73f32c0.895a7","eb9cc9a1.4eb178"]]},{"id":"2f1af352.d6e80c","type":"ui_gauge","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":8,"width":6,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":360,"wires":[]},{"id":"f73f32c0.895a7","type":"ui_gauge","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":1,"width":6,"height":4,"gtype":"compass","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":440,"wires":[]},{"id":"31afe9d3.e2d8e6","type":"function","z":"ec41e117.84b2","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":500,"wires":[["db18183b.3628b8","fee88088.f93df"]]},{"id":"db18183b.3628b8","type":"ui_gauge","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":15,"width":6,"height":5,"gtype":"compass","title":"Solution Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":520,"wires":[]},{"id":"8aab02c0.ae618","type":"function","z":"ec41e117.84b2","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["6a09f478.0b82ec"]]},{"id":"6a09f478.0b82ec","type":"ui_gauge","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":3,"width":7,"height":9,"gtype":"donut","title":"Light","label":"lx","format":"{{value}}","min":0,"max":"65535","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":560,"wires":[]},{"id":"51080764.03fb28","type":"ui_chart","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":9,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":320,"wires":[[]]},{"id":"eb9cc9a1.4eb178","type":"ui_chart","z":"ec41e117.84b2","name":"","group":"61cd564b.d9b7c8","order":2,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":400,"wires":[[]]},{"id":"fee88088.f93df","type":"ui_chart","z":"ec41e117.84b2","name":"ds18b20","group":"61cd564b.d9b7c8","order":16,"width":6,"height":5,"label":"Solution Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":480,"wires":[[]]},{"id":"4d2fccb1.69ee64","type":"ui_template","z":"ec41e117.84b2","group":"61cd564b.d9b7c8","name":"","order":18,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.139/csv/device6.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":820,"y":420,"wires":[[]]},{"id":"9e25025c.260a2","type":"debug","z":"ec41e117.84b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":40,"wires":[]},{"id":"d81f4832.9ecd68","type":"udp in","z":"24ab386d.ae3938","name":"udp6000","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":330,"y":200,"wires":[["802a857b.f53fa8"]]},{"id":"802a857b.f53fa8","type":"debug","z":"24ab386d.ae3938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":220,"wires":[]}]