backup/ตู้เย็น/flows2.json
[{"id":"7b6eefa1.2fd3","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"38b3b4f7.2833ec","type":"udp in","z":"7b6eefa1.2fd3","name":"test 01","iface":"","port":"6001","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":110,"y":80,"wires":[["d5ef1d8a.1574f"]]},{"id":"d5ef1d8a.1574f","type":"debug","z":"7b6eefa1.2fd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":60,"wires":[]},{"id":"579589ae.bb1768","type":"function","z":"7b6eefa1.2fd3","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n\n    \"temperature_ds18b20\": parseInt(data[0]),\n    \"temperature_ds18b21\": parseInt(data[1]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":120,"wires":[[]]},{"id":"b02b4527.9fdcf8","type":"function","z":"7b6eefa1.2fd3","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n\n    t: parseInt(data[0]),\n    t2: parseInt(data[1]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,2)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":60,"wires":[[]]},{"id":"7c1c923a.ac774c","type":"function","z":"7b6eefa1.2fd3","name":"qqqqqqqqqqqqqqqqqqq","func":"msg.topic = \"select dv_s_min,dv_s_max,dv_line_tk from tbl_device WHERE dv_id=1\"\n// msg.payload = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":360,"wires":[["a04f37fc.8c4128"]]},{"id":"a04f37fc.8c4128","type":"mysql","z":"7b6eefa1.2fd3","mydb":"db390f86.e735d","name":"test","x":490,"y":320,"wires":[["500ebf45.68d63","8aa21805.872ca8","9befad44.4d10b"]]},{"id":"50b008bd.6ba248","type":"debug","z":"7b6eefa1.2fd3","name":"lineeeeee","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1540,"y":400,"wires":[]},{"id":"5b1438f5.8eb358","type":"function","z":"7b6eefa1.2fd3","name":"if tem","func":"// var str = msg.payload;\n// var data = str.slice(0).split(',');\nvar min = msg.payload[0].dv_t_min\nvar max  = msg.payload[0].dv_t_max\nvar tk = msg.payload[0].dv_line_tk\nvar num = 29\nif (num <=min && num <= max) {\n    msg.payload = msg.payload[0].dv_t_min\n    \n}else{\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":100,"wires":[[]]},{"id":"8aa21805.872ca8","type":"function","z":"7b6eefa1.2fd3","name":"max","func":"msg.payload = msg.payload[0].dv_t_max\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":340,"wires":[["bc60f9e1.859938"]]},{"id":"9befad44.4d10b","type":"function","z":"7b6eefa1.2fd3","name":"token","func":"msg.payload = msg.payload[0].dv_line_tk\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":380,"wires":[["bc60f9e1.859938"]]},{"id":"f242ec02.51274","type":"http request","z":"7b6eefa1.2fd3","name":"POST LINE API","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1360,"y":400,"wires":[["50b008bd.6ba248"]]},{"id":"97519acc.8cce08","type":"function","z":"7b6eefa1.2fd3","name":"line token","func":"\nmsg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization': 'Bearer '+msg.payload3\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;\n//aGsA3R4APnt2l5pheTz4N6XM0FYMXAN2igN6q7xmSsG นัด\n//hGcQRT9ISTO8H1CApvz0sDKNQhdOuLw9ejNS4fv8yGh แคน","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":400,"wires":[["f242ec02.51274"]]},{"id":"b8aff056.2f73a","type":"udp in","z":"7b6eefa1.2fd3","name":"Device 1","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":60,"y":460,"wires":[[]]},{"id":"500ebf45.68d63","type":"function","z":"7b6eefa1.2fd3","name":"min","func":"// var min = msg.payload[0].dv_t_min\nmsg.payload = msg.payload[0].dv_t_min\n// var max  = msg.payload[0].dv_t_max\n// var tk = msg.payload[0].dv_line_tk\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":300,"wires":[["bc60f9e1.859938"]]},{"id":"f72c4f49.adcbe","type":"function","z":"7b6eefa1.2fd3","name":"con","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nvar min = parseInt(data[0]);\nvar max = parseInt(data[1]);\nvar tk = data[2];\nmsg.payload3 = tk;\nvar temp1 = parseInt(data[3]);\nvar temp2 = parseInt(data[4]);\nvar num= temp1\nif (num <=min ) {\n    msg.payload = \"\\n Warning, the current temperature value is abnormal.\"+\"\\n\"+\"Normal Temp: \"+temp1+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse if (num >=max ) {\n    msg.payload = \"\\n Warning, the current temperature value is abnormal.\"+\"\\n\"+\"Normal Temp: \"+temp1+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse{\n    msg.payload = \"ค่าปกติตอนนี้\"+temp1 \n}\n\n// msg.payload = \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":340,"wires":[["97519acc.8cce08"]]},{"id":"39c54479.05791c","type":"inject","z":"7b6eefa1.2fd3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":200,"wires":[[]]},{"id":"9fa9ad8e.1b9a","type":"function","z":"7b6eefa1.2fd3","name":"","func":"msg.topic = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":760,"wires":[["d535bea.a06894"]]},{"id":"5bd045cd.da906c","type":"inject","z":"7b6eefa1.2fd3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":740,"wires":[["9fa9ad8e.1b9a"]]},{"id":"d535bea.a06894","type":"mysql","z":"7b6eefa1.2fd3","mydb":"db390f86.e735d","name":"test","x":520,"y":800,"wires":[["349ef0aa.2dde1"]]},{"id":"349ef0aa.2dde1","type":"function","z":"7b6eefa1.2fd3","name":"","func":"var tem1 = msg.payload[0].DHTtemp\nvar tem2 = msg.payload[0].DS18Temp\nmsg.payload = tem1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":780,"wires":[[]]},{"id":"b84ae36.074dd2","type":"function","z":"7b6eefa1.2fd3","name":"ssssssssssssss","func":"msg.topic = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":460,"wires":[["774ca2e7.fa73cc"]],"outputLabels":["msg.topic1"]},{"id":"7474d0ca.d1148","type":"function","z":"7b6eefa1.2fd3","name":"fddfd","func":"msg.payload = msg.payload[0].DHTtemp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":460,"wires":[["bc60f9e1.859938"]]},{"id":"7b489cd5.dbea24","type":"debug","z":"7b6eefa1.2fd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":260,"wires":[]},{"id":"774ca2e7.fa73cc","type":"mysql","z":"7b6eefa1.2fd3","mydb":"db390f86.e735d","name":"test","x":530,"y":460,"wires":[["7474d0ca.d1148","3f8d46b5.ccdd6a"]]},{"id":"a76d2bac.02d908","type":"function","z":"7b6eefa1.2fd3","name":"","func":"msg.payload1 = msg.payload[0].dv_t_max\nvar min = msg.payload[0].dv_t_min\nvar max  = msg.payload[0].dv_t_max\nmsg.payload1 = min\nmsg.payload2=max\nmsg.payload ={\n    'min' : msg.payload1,\n    \"max\":msg.payload2\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":140,"wires":[["786ce87d.d733a8"]]},{"id":"b5a09f8a.90faa","type":"function","z":"7b6eefa1.2fd3","name":"","func":"var tem1  = msg.payload[0].DHTtemp\nvar tem2  = msg.payload[0].DS18Temp\nmsg.payload1 = tem1\nmsg.payload2=tem2\nmsg.payload ={\n    'tem1' : msg.payload1,\n    \"tem2\":msg.payload2\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":220,"wires":[["786ce87d.d733a8"]]},{"id":"786ce87d.d733a8","type":"function","z":"7b6eefa1.2fd3","name":"","func":"var num=29\nif (num >=min && num <= max) {\n    msg.payload = 5555 ;\n}else{\n    msg.payload = null ;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":180,"wires":[["7b489cd5.dbea24"]]},{"id":"8646b499.ddcd48","type":"function","z":"7b6eefa1.2fd3","name":"","func":"var tem1  = msg.payload[0].DHTtemp\nvar tem2  = msg.payload[0].DS18Temp\nvar min = msg.payload[0].dv_t_min\nvar max  = msg.payload[0].dv_t_max\nmsg.payload1 = min\nmsg.payload2=max\nmsg.payload3 =tem1\nmsg.payload4=tem2\nmsg.payload ={\n    'min' : msg.payload1,\n    \"max\":msg.payload2,\n    'tem1' : msg.payload3,\n    \"tem2\":msg.payload4\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":200,"wires":[[]]},{"id":"bc60f9e1.859938","type":"join","z":"7b6eefa1.2fd3","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":400,"wires":[["f72c4f49.adcbe"]]},{"id":"3f8d46b5.ccdd6a","type":"function","z":"7b6eefa1.2fd3","name":"fddfd","func":"msg.payload = msg.payload[0].DS18Temp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":520,"wires":[["bc60f9e1.859938"]]},{"id":"4fce8286.45ca0c","type":"mysql","z":"7b6eefa1.2fd3","mydb":"db390f86.e735d","name":"test","x":630,"y":600,"wires":[["a8dc21f6.e84b4","2a2f4324.bd0f0c"]]},{"id":"7239cd60.5435a4","type":"function","z":"7b6eefa1.2fd3","name":"qqqqqqqqqqqqqqqqqqq","func":"msg.topic = \"select dv_s_min,dv_s_max,dv_line_tk from tbl_device WHERE dv_id=1\"\n// msg.payload = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":620,"wires":[["4fce8286.45ca0c"]]},{"id":"a8dc21f6.e84b4","type":"function","z":"7b6eefa1.2fd3","name":"token","func":"msg.payload = msg.payload[0].dv_line_tk\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":660,"wires":[["1ec08a13.f4a9b6"]]},{"id":"2a2f4324.bd0f0c","type":"function","z":"7b6eefa1.2fd3","name":"token","func":"msg.payload = msg.payload[0].dv_line_tk\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":580,"wires":[["1ec08a13.f4a9b6"]]},{"id":"1ec08a13.f4a9b6","type":"join","z":"7b6eefa1.2fd3","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":620,"wires":[[]]},{"id":"c599988.7136568","type":"function","z":"7b6eefa1.2fd3","name":"","func":"\nvar str = msg.payload;\nvar data = str.slice(0).split(',');\nvar tk = data[2];\nmsg.payload1 = tk;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":480,"wires":[[]]},{"id":"db390f86.e735d","type":"MySQLdatabase","name":"farm","host":"127.0.0.1","port":"3306","db":"farm","tz":"","charset":""}]