backup/ตู้เย็น/flows1.json
[{"id":"bfd309c7.3425a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c002e159.2c7cb","type":"function","z":"bfd309c7.3425a8","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    t: parseInt(data[0]),\n    t2: parseInt(data[1]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[1]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, DS18Temp, Date, Time, dv_id) VALUES (:dhtT, :ds18T, :date, :time,1)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":260,"wires":[["7a90380f.11fed8"]]},{"id":"c7b7743f.ce0678","type":"udp in","z":"bfd309c7.3425a8","name":"Device 1","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":140,"y":260,"wires":[["11f5fa2d.6ee346","d1df5bad.7b0338","1ebc8df.7cebc72","15232cb3.74e373","80b9ab0e.a5ae78","c002e159.2c7cb","df320010.9f08e","b504c719.7e8478","e076267a.aeb598","a041e5aa.74f0f8"]]},{"id":"11f5fa2d.6ee346","type":"function","z":"bfd309c7.3425a8","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n    \"temperature\": parseInt(data[0]),\n    \"temperature_ds18b20\": parseInt(data[1]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["ece5ae.5b144a5"]]},{"id":"ece5ae.5b144a5","type":"firebase out","z":"bfd309c7.3425a8","name":"device1","ref":"device1","operation":"push","admin":"df36b66d.5308b8","x":580,"y":180,"wires":[["7d3aa4d8.ca2cfc"]]},{"id":"7d3aa4d8.ca2cfc","type":"debug","z":"bfd309c7.3425a8","name":"data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":220,"wires":[]},{"id":"7a90380f.11fed8","type":"mysql","z":"bfd309c7.3425a8","mydb":"db390f86.e735d","name":"farm sql","x":560,"y":260,"wires":[["7d3aa4d8.ca2cfc"]]},{"id":"80b9ab0e.a5ae78","type":"file","z":"bfd309c7.3425a8","name":"import csv","filename":"C:\\xampp\\htdocs\\csv\\device1.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":390,"y":100,"wires":[["10f0e5d6.a126da"]]},{"id":"10f0e5d6.a126da","type":"csv","z":"bfd309c7.3425a8","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":100,"wires":[["2c831b7a.67b7e4"]]},{"id":"2c831b7a.67b7e4","type":"debug","z":"bfd309c7.3425a8","name":"csv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"d1df5bad.7b0338","type":"function","z":"bfd309c7.3425a8","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":340,"wires":[["160ea17f.0127ef","c7b8cdb9.f63e7"]]},{"id":"160ea17f.0127ef","type":"ui_gauge","z":"bfd309c7.3425a8","name":"","group":"a1e3eac0.34a018","order":2,"width":6,"height":5,"gtype":"compass","title":"Fridge Temperature","label":"C","format":"{{value}}","min":"-5","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":340,"wires":[]},{"id":"1ebc8df.7cebc72","type":"function","z":"bfd309c7.3425a8","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":420,"wires":[["a7313f62.01892","c96aace1.29f09"]]},{"id":"a7313f62.01892","type":"ui_gauge","z":"bfd309c7.3425a8","name":"Freed Temperature","group":"a1e3eac0.34a018","order":14,"width":6,"height":5,"gtype":"compass","title":"Freeze Temperature","label":"C","format":"{{value}}","min":"-5","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":440,"wires":[]},{"id":"c7b8cdb9.f63e7","type":"ui_chart","z":"bfd309c7.3425a8","name":"","group":"a1e3eac0.34a018","order":3,"width":6,"height":5,"label":"Fridge Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-5","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":300,"wires":[[]]},{"id":"c96aace1.29f09","type":"ui_chart","z":"bfd309c7.3425a8","name":"Freed Temperature","group":"a1e3eac0.34a018","order":15,"width":6,"height":5,"label":"Freeze Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-5","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":400,"wires":[[]]},{"id":"850ca518.387978","type":"ui_template","z":"bfd309c7.3425a8","group":"a1e3eac0.34a018","name":"","order":27,"width":6,"height":3,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.135/csv/device1.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":340,"wires":[[]]},{"id":"15232cb3.74e373","type":"debug","z":"bfd309c7.3425a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":40,"wires":[]},{"id":"334b47d3.b85c58","type":"debug","z":"bfd309c7.3425a8","name":"Normal Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":660,"wires":[]},{"id":"9aff09a4.2f34c8","type":"http request","z":"bfd309c7.3425a8","name":"POST LINE API","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1140,"y":740,"wires":[["334b47d3.b85c58"]]},{"id":"1fae39ad.1eb9c6","type":"function","z":"bfd309c7.3425a8","name":"line token","func":"\nmsg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization': 'Bearer '+msg.payload3\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;\n//aGsA3R4APnt2l5pheTz4N6XM0FYMXAN2igN6q7xmSsG นัด\n//hGcQRT9ISTO8H1CApvz0sDKNQhdOuLw9ejNS4fv8yGh แคน","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":680,"wires":[["9aff09a4.2f34c8"]]},{"id":"d9cff2a0.fc861","type":"function","z":"bfd309c7.3425a8","name":"con","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nvar min = parseInt(data[0]);\nvar max = parseInt(data[1]);\nvar tk = data[2];\nmsg.payload3 = tk;\nvar temp1 = parseInt(data[3]);\nvar temp2 = parseInt(data[4]);\nvar num= temp1\nif (num <=min ) {\n    msg.payload = \"\\nWarning, the current temperature value is abnormal.\"+\"\\n\"+\"Normal Temp: \"+temp1+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse if (num >=max ) {\n    msg.payload = \"\\nWarning, the current temperature value is abnormal.\"+\"\\n\"+\"Normal Temp: \"+temp1+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse{\n   msg.payload = null\n}\n\n// msg.payload = \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":620,"wires":[["1fae39ad.1eb9c6"]]},{"id":"676b91f1.66a21","type":"join","z":"bfd309c7.3425a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1050,"y":540,"wires":[["d9cff2a0.fc861"]]},{"id":"35cd6ff3.eb0fa","type":"debug","z":"bfd309c7.3425a8","name":"Freed Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":840,"wires":[]},{"id":"e8b8f976.e6e148","type":"http request","z":"bfd309c7.3425a8","name":"POST LINE API","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1120,"y":900,"wires":[["35cd6ff3.eb0fa"]]},{"id":"248c14f0.3909dc","type":"function","z":"bfd309c7.3425a8","name":"line token","func":"\nmsg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization': 'Bearer '+msg.payload3\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;\n//aGsA3R4APnt2l5pheTz4N6XM0FYMXAN2igN6q7xmSsG นัด\n//hGcQRT9ISTO8H1CApvz0sDKNQhdOuLw9ejNS4fv8yGh แคน","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":860,"wires":[["e8b8f976.e6e148"]]},{"id":"fda76a5c.e8ceb8","type":"function","z":"bfd309c7.3425a8","name":"con","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nvar min = parseInt(data[0]);\nvar max = parseInt(data[1]);\nvar tk = data[2];\nmsg.payload3 = tk;\nvar temp1 = parseInt(data[3]);\nvar temp2 = parseInt(data[4]);\nvar num= temp2\nif (num <=min ) {\n    msg.payload = \"\\nWarning, the current temperature value is abnormal.\"+\"\\n\"+\"Freed Temp: \"+temp2+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse if (num >=max ) {\n    msg.payload = \"\\nWarning, the current temperature value is abnormal.\"+\"\\n\"+\"Freed Temp: \"+temp2+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse{\n    msg.payload = null\n}\n\n// msg.payload = \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":800,"wires":[["248c14f0.3909dc"]]},{"id":"754e2d3c.bf36c4","type":"join","z":"bfd309c7.3425a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":800,"wires":[["fda76a5c.e8ceb8"]]},{"id":"e076267a.aeb598","type":"function","z":"bfd309c7.3425a8","name":"Select Temp 1 Max Min","func":"msg.topic = \"select dv_t_min,dv_t_max,dv_line_tk from tbl_device WHERE dv_id=1\"\n// msg.payload = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":520,"wires":[["16e06580.5fc3fb"]]},{"id":"16e06580.5fc3fb","type":"mysql","z":"bfd309c7.3425a8","mydb":"db390f86.e735d","name":"test","x":610,"y":500,"wires":[["2eb59ee1.e85b92","5c0e1e7.a7f26e","5bfed892.60ac58"]]},{"id":"5c0e1e7.a7f26e","type":"function","z":"bfd309c7.3425a8","name":"max","func":"msg.payload = msg.payload[0].dv_t_max\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":500,"wires":[["676b91f1.66a21"]]},{"id":"5bfed892.60ac58","type":"function","z":"bfd309c7.3425a8","name":"token","func":"msg.payload = msg.payload[0].dv_line_tk\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":540,"wires":[["676b91f1.66a21"]]},{"id":"2eb59ee1.e85b92","type":"function","z":"bfd309c7.3425a8","name":"min","func":"// var min = msg.payload[0].dv_t_min\nmsg.payload = msg.payload[0].dv_t_min\n// var max  = msg.payload[0].dv_t_max\n// var tk = msg.payload[0].dv_line_tk\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":460,"wires":[["676b91f1.66a21"]]},{"id":"a041e5aa.74f0f8","type":"function","z":"bfd309c7.3425a8","name":"Select Temp1 Data","func":"msg.topic = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":580,"wires":[["4c8929c1.309138"]],"outputLabels":["msg.topic1"]},{"id":"cf61704.f76019","type":"function","z":"bfd309c7.3425a8","name":"temp1","func":"msg.payload = msg.payload[0].DHTtemp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":580,"wires":[["676b91f1.66a21"]]},{"id":"4c8929c1.309138","type":"mysql","z":"bfd309c7.3425a8","mydb":"db390f86.e735d","name":"test","x":610,"y":580,"wires":[["cf61704.f76019","a75967ce.a598d8"]]},{"id":"a75967ce.a598d8","type":"function","z":"bfd309c7.3425a8","name":"temp2","func":"msg.payload = msg.payload[0].DS18Temp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":620,"wires":[["676b91f1.66a21"]]},{"id":"df320010.9f08e","type":"function","z":"bfd309c7.3425a8","name":"Select Temp 2 Max Min","func":"msg.topic = \"select dv_s_min,dv_s_max,dv_line_tk from tbl_device WHERE dv_id=1\"\n// msg.payload = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":740,"wires":[["69724f56.c94e1"]]},{"id":"69724f56.c94e1","type":"mysql","z":"bfd309c7.3425a8","mydb":"db390f86.e735d","name":"test","x":530,"y":720,"wires":[["ca62f6cf.ac8988","5e263fd1.6e311","f3ffe989.630578"]]},{"id":"5e263fd1.6e311","type":"function","z":"bfd309c7.3425a8","name":"max","func":"msg.payload = msg.payload[0].dv_s_max\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":720,"wires":[["754e2d3c.bf36c4"]]},{"id":"f3ffe989.630578","type":"function","z":"bfd309c7.3425a8","name":"token","func":"msg.payload = msg.payload[0].dv_line_tk\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":760,"wires":[["754e2d3c.bf36c4"]]},{"id":"ca62f6cf.ac8988","type":"function","z":"bfd309c7.3425a8","name":"min","func":"// var min = msg.payload[0].dv_t_min\nmsg.payload = msg.payload[0].dv_s_min\n// var max  = msg.payload[0].dv_t_max\n// var tk = msg.payload[0].dv_line_tk\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":680,"wires":[["754e2d3c.bf36c4"]]},{"id":"b504c719.7e8478","type":"function","z":"bfd309c7.3425a8","name":"Select Temp2 Data","func":"msg.topic = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":800,"wires":[["2e934388.94f5ac"]],"outputLabels":["msg.topic1"]},{"id":"5876364e.c7f9c8","type":"function","z":"bfd309c7.3425a8","name":"temp1","func":"msg.payload = msg.payload[0].DHTtemp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":800,"wires":[["754e2d3c.bf36c4"]]},{"id":"2e934388.94f5ac","type":"mysql","z":"bfd309c7.3425a8","mydb":"db390f86.e735d","name":"test","x":530,"y":800,"wires":[["5876364e.c7f9c8","3631f682.733e6a"]]},{"id":"3631f682.733e6a","type":"function","z":"bfd309c7.3425a8","name":"temp2","func":"msg.payload = msg.payload[0].DS18Temp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":840,"wires":[["754e2d3c.bf36c4"]]},{"id":"df36b66d.5308b8","type":"firebase admin","name":"firebase condb"},{"id":"db390f86.e735d","type":"MySQLdatabase","name":"farm","host":"127.0.0.1","port":"3306","db":"farm","tz":"","charset":""},{"id":"a1e3eac0.34a018","type":"ui_group","name":"Dashboard","tab":"65532314.b4110c","order":1,"disp":true,"width":18,"collapse":false},{"id":"65532314.b4110c","type":"ui_tab","name":"Realtime Device1","icon":"dashboard","order":2,"disabled":false,"hidden":true}]