backup/ตู้เย็น/flowsall135.json
[{"id":"bfd309c7.3425a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7b6eefa1.2fd3","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"da46045e.efc448","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"df36b66d.5308b8","type":"firebase admin","name":"firebase condb"},{"id":"db390f86.e735d","type":"MySQLdatabase","name":"farm","host":"127.0.0.1","port":"3306","db":"farm","tz":"","charset":""},{"id":"a1e3eac0.34a018","type":"ui_group","name":"Dashboard","tab":"65532314.b4110c","order":1,"disp":true,"width":18,"collapse":false},{"id":"65532314.b4110c","type":"ui_tab","name":"Realtime Device1","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"25a1ebbc.ae2054","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"494c5b78.7c6a84","type":"MySQLdatabase","host":"sl-eu-lon-2-portal.11.dblayer.com","port":"27707 ","db":"compose","tz":""},{"id":"72390237.6ebaac","type":"ui_tab","name":"Tab","icon":"Dashboard","order":1,"disabled":true,"hidden":true},{"id":"8d99fc98.97329","type":"ui_group","name":"Group 1","tab":"72390237.6ebaac","order":1,"disp":true,"width":6},{"id":"16aabf1c.507021","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":1,"width":3,"height":1},{"id":"be9a0cd7.4d0b5","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":4,"width":3,"height":1},{"id":"e51c74d.b3ef988","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":5,"width":3,"height":1},{"id":"8bece676.c2fe28","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":6,"width":3,"height":1},{"id":"d714d93c.0acbd8","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":7,"width":3,"height":1},{"id":"c92848e8.111258","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":8,"width":3,"height":1},{"id":"6a6306e9.54cd28","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":9,"width":3,"height":1},{"id":"be05563a.de8db8","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":10,"width":3,"height":1},{"id":"ce55b234.98bc4","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":11,"width":3,"height":1},{"id":"41916e64.41d37","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":12,"width":3,"height":1},{"id":"44886597.5573fc","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":13,"width":3,"height":1},{"id":"dd43d3b0.d871e","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":16,"width":3,"height":1},{"id":"3d16594a.7e3116","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":17,"width":3,"height":1},{"id":"3ecdbfbd.f1bd","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":18,"width":3,"height":1},{"id":"c456738f.56d2c","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":19,"width":3,"height":1},{"id":"45e13d7f.af3724","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":20,"width":3,"height":1},{"id":"7d1d7ff9.d7c6","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":21,"width":3,"height":1},{"id":"941c355a.2cbb38","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":22,"width":3,"height":1},{"id":"213a2391.5500fc","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":23,"width":3,"height":1},{"id":"ebbe2abd.450fa8","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":24,"width":3,"height":1},{"id":"45384720.331e48","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":25,"width":18,"height":1},{"id":"7686c3b0.8b6bbc","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":26,"width":6,"height":1},{"id":"9df0c75.b943238","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":28,"width":6,"height":1},{"id":"e830632e.eaf62","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":29,"width":6,"height":1},{"id":"c454f44b.b382b8","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":30,"width":6,"height":1},{"id":"49b9becc.70c59","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":31,"width":6,"height":1},{"id":"ef2d76c5.91c7c8","type":"ui_spacer","name":"spacer","group":"a1e3eac0.34a018","order":32,"width":6,"height":1},{"id":"c002e159.2c7cb","type":"function","z":"bfd309c7.3425a8","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n    t: parseInt(data[0]),\n    t2: parseInt(data[1]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[1]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, DS18Temp, Date, Time, dv_id) VALUES (:dhtT, :ds18T, :date, :time,1)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":260,"wires":[["7a90380f.11fed8"]]},{"id":"c7b7743f.ce0678","type":"udp in","z":"bfd309c7.3425a8","name":"Device 1","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":140,"y":260,"wires":[["11f5fa2d.6ee346","d1df5bad.7b0338","1ebc8df.7cebc72","15232cb3.74e373","80b9ab0e.a5ae78","c002e159.2c7cb","df320010.9f08e","b504c719.7e8478","e076267a.aeb598","a041e5aa.74f0f8"]]},{"id":"11f5fa2d.6ee346","type":"function","z":"bfd309c7.3425a8","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n    \"temperature\": parseInt(data[0]),\n    \"temperature_ds18b20\": parseInt(data[1]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["ece5ae.5b144a5"]]},{"id":"ece5ae.5b144a5","type":"firebase out","z":"bfd309c7.3425a8","name":"device1","ref":"device1","operation":"push","admin":"df36b66d.5308b8","x":580,"y":180,"wires":[["7d3aa4d8.ca2cfc"]]},{"id":"7d3aa4d8.ca2cfc","type":"debug","z":"bfd309c7.3425a8","name":"data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":220,"wires":[]},{"id":"7a90380f.11fed8","type":"mysql","z":"bfd309c7.3425a8","mydb":"db390f86.e735d","name":"farm sql","x":560,"y":260,"wires":[["7d3aa4d8.ca2cfc"]]},{"id":"80b9ab0e.a5ae78","type":"file","z":"bfd309c7.3425a8","name":"import csv","filename":"C:\\xampp\\htdocs\\csv\\device1.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":390,"y":100,"wires":[["10f0e5d6.a126da"]]},{"id":"10f0e5d6.a126da","type":"csv","z":"bfd309c7.3425a8","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":100,"wires":[["2c831b7a.67b7e4"]]},{"id":"2c831b7a.67b7e4","type":"debug","z":"bfd309c7.3425a8","name":"csv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"d1df5bad.7b0338","type":"function","z":"bfd309c7.3425a8","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[0]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":340,"wires":[["160ea17f.0127ef","c7b8cdb9.f63e7"]]},{"id":"160ea17f.0127ef","type":"ui_gauge","z":"bfd309c7.3425a8","name":"","group":"a1e3eac0.34a018","order":2,"width":6,"height":5,"gtype":"compass","title":"Fridge Temperature","label":"C","format":"{{value}}","min":"-5","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":340,"wires":[]},{"id":"1ebc8df.7cebc72","type":"function","z":"bfd309c7.3425a8","name":"","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = parseInt(data[1]);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":420,"wires":[["a7313f62.01892","c96aace1.29f09"]]},{"id":"a7313f62.01892","type":"ui_gauge","z":"bfd309c7.3425a8","name":"Freed Temperature","group":"a1e3eac0.34a018","order":14,"width":6,"height":5,"gtype":"compass","title":"Freeze Temperature","label":"C","format":"{{value}}","min":"-5","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":440,"wires":[]},{"id":"c7b8cdb9.f63e7","type":"ui_chart","z":"bfd309c7.3425a8","name":"","group":"a1e3eac0.34a018","order":3,"width":6,"height":5,"label":"Fridge Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-5","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":300,"wires":[[]]},{"id":"c96aace1.29f09","type":"ui_chart","z":"bfd309c7.3425a8","name":"Freed Temperature","group":"a1e3eac0.34a018","order":15,"width":6,"height":5,"label":"Freeze Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-5","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":400,"wires":[[]]},{"id":"850ca518.387978","type":"ui_template","z":"bfd309c7.3425a8","group":"a1e3eac0.34a018","name":"","order":27,"width":6,"height":3,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<!-- Add icon library -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.btn {\n  background-color: DodgerBlue;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  cursor: pointer;\n  font-size: 20px;\n}\n\n/* Darker background on mouse-over */\n.btn:hover {\n  background-color: RoyalBlue;\n}\n</style>\n</head>\n<body>\n\n<button class=\"btn\"><i class=\"fa fa-download\"></i><a  href=\"http://103.91.207.135/csv/device1.csv\" style=\"color:white;text-decoration:none;\" >Export csv</a></button><br>\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":340,"wires":[[]]},{"id":"15232cb3.74e373","type":"debug","z":"bfd309c7.3425a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":40,"wires":[]},{"id":"38b3b4f7.2833ec","type":"udp in","z":"7b6eefa1.2fd3","name":"test 01","iface":"","port":"6001","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":110,"y":80,"wires":[["d5ef1d8a.1574f"]]},{"id":"d5ef1d8a.1574f","type":"debug","z":"7b6eefa1.2fd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":60,"wires":[]},{"id":"579589ae.bb1768","type":"function","z":"7b6eefa1.2fd3","name":"friebase","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n\n    \"temperature_ds18b20\": parseInt(data[0]),\n    \"temperature_ds18b21\": parseInt(data[1]),\n    'date' : msg.payload1,\n    \"time\":msg.payload2\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":120,"wires":[[]]},{"id":"b02b4527.9fdcf8","type":"function","z":"7b6eefa1.2fd3","name":"DB","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"en-us\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nmsg.payload = {\n\n\n    t: parseInt(data[0]),\n    t2: parseInt(data[1]),\n    date : msg.payload1,\n    time:msg.payload2\n\n}\nmsg.payload.dhtT=parseInt(data[1]);\nmsg.payload.hum=parseInt(data[0]);\nmsg.payload.ds18T=parseInt(data[2]);\nmsg.payload.ldr=parseInt(data[3]);\nmsg.payload.date=asiaDate;\nmsg.payload.time=asiaTime;\n\n\n\nmsg.payload.userToChange=42;\nmsg.payload.newUsername=\"tbl_data\";\nmsg.topic=\"INSERT INTO tbl_data (DHTtemp, Humidity, DS18Temp, LDRLight, Date, Time, dv_id) VALUES (:dhtT, :hum, :ds18T, :ldr, :date, :time,2)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":60,"wires":[[]]},{"id":"7c1c923a.ac774c","type":"function","z":"7b6eefa1.2fd3","name":"qqqqqqqqqqqqqqqqqqq","func":"msg.topic = \"select dv_s_min,dv_s_max,dv_line_tk from tbl_device WHERE dv_id=1\"\n// msg.payload = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":360,"wires":[["a04f37fc.8c4128"]]},{"id":"a04f37fc.8c4128","type":"mysql","z":"7b6eefa1.2fd3","mydb":"db390f86.e735d","name":"test","x":490,"y":320,"wires":[["500ebf45.68d63","8aa21805.872ca8","9befad44.4d10b"]]},{"id":"50b008bd.6ba248","type":"debug","z":"7b6eefa1.2fd3","name":"lineeeeee","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1540,"y":400,"wires":[]},{"id":"5b1438f5.8eb358","type":"function","z":"7b6eefa1.2fd3","name":"if tem","func":"// var str = msg.payload;\n// var data = str.slice(0).split(',');\nvar min = msg.payload[0].dv_t_min\nvar max  = msg.payload[0].dv_t_max\nvar tk = msg.payload[0].dv_line_tk\nvar num = 29\nif (num <=min && num <= max) {\n    msg.payload = msg.payload[0].dv_t_min\n    \n}else{\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":100,"wires":[[]]},{"id":"8aa21805.872ca8","type":"function","z":"7b6eefa1.2fd3","name":"max","func":"msg.payload = msg.payload[0].dv_t_max\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":340,"wires":[["bc60f9e1.859938"]]},{"id":"9befad44.4d10b","type":"function","z":"7b6eefa1.2fd3","name":"token","func":"msg.payload = msg.payload[0].dv_line_tk\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":380,"wires":[["bc60f9e1.859938"]]},{"id":"f242ec02.51274","type":"http request","z":"7b6eefa1.2fd3","name":"POST LINE API","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1360,"y":400,"wires":[["50b008bd.6ba248"]]},{"id":"97519acc.8cce08","type":"function","z":"7b6eefa1.2fd3","name":"line token","func":"\nmsg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization': 'Bearer '+msg.payload3\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;\n//aGsA3R4APnt2l5pheTz4N6XM0FYMXAN2igN6q7xmSsG นัด\n//hGcQRT9ISTO8H1CApvz0sDKNQhdOuLw9ejNS4fv8yGh แคน","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":400,"wires":[["f242ec02.51274"]]},{"id":"b8aff056.2f73a","type":"udp in","z":"7b6eefa1.2fd3","name":"Device 1","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":60,"y":460,"wires":[[]]},{"id":"500ebf45.68d63","type":"function","z":"7b6eefa1.2fd3","name":"min","func":"// var min = msg.payload[0].dv_t_min\nmsg.payload = msg.payload[0].dv_t_min\n// var max  = msg.payload[0].dv_t_max\n// var tk = msg.payload[0].dv_line_tk\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":300,"wires":[["bc60f9e1.859938"]]},{"id":"f72c4f49.adcbe","type":"function","z":"7b6eefa1.2fd3","name":"con","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nvar min = parseInt(data[0]);\nvar max = parseInt(data[1]);\nvar tk = data[2];\nmsg.payload3 = tk;\nvar temp1 = parseInt(data[3]);\nvar temp2 = parseInt(data[4]);\nvar num= temp1\nif (num <=min ) {\n    msg.payload = \"\\n Warning, the current temperature value is abnormal.\"+\"\\n\"+\"Normal Temp: \"+temp1+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse if (num >=max ) {\n    msg.payload = \"\\n Warning, the current temperature value is abnormal.\"+\"\\n\"+\"Normal Temp: \"+temp1+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse{\n    msg.payload = \"ค่าปกติตอนนี้\"+temp1 \n}\n\n// msg.payload = \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":340,"wires":[["97519acc.8cce08"]]},{"id":"39c54479.05791c","type":"inject","z":"7b6eefa1.2fd3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":200,"wires":[[]]},{"id":"9fa9ad8e.1b9a","type":"function","z":"7b6eefa1.2fd3","name":"","func":"msg.topic = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":760,"wires":[["d535bea.a06894"]]},{"id":"5bd045cd.da906c","type":"inject","z":"7b6eefa1.2fd3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":740,"wires":[["9fa9ad8e.1b9a"]]},{"id":"d535bea.a06894","type":"mysql","z":"7b6eefa1.2fd3","mydb":"db390f86.e735d","name":"test","x":520,"y":800,"wires":[["349ef0aa.2dde1"]]},{"id":"349ef0aa.2dde1","type":"function","z":"7b6eefa1.2fd3","name":"","func":"var tem1 = msg.payload[0].DHTtemp\nvar tem2 = msg.payload[0].DS18Temp\nmsg.payload = tem1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":780,"wires":[[]]},{"id":"b84ae36.074dd2","type":"function","z":"7b6eefa1.2fd3","name":"ssssssssssssss","func":"msg.topic = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":460,"wires":[["774ca2e7.fa73cc"]],"outputLabels":["msg.topic1"]},{"id":"7474d0ca.d1148","type":"function","z":"7b6eefa1.2fd3","name":"fddfd","func":"msg.payload = msg.payload[0].DHTtemp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":460,"wires":[["bc60f9e1.859938"]]},{"id":"7b489cd5.dbea24","type":"debug","z":"7b6eefa1.2fd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":260,"wires":[]},{"id":"774ca2e7.fa73cc","type":"mysql","z":"7b6eefa1.2fd3","mydb":"db390f86.e735d","name":"test","x":530,"y":460,"wires":[["7474d0ca.d1148","3f8d46b5.ccdd6a"]]},{"id":"a76d2bac.02d908","type":"function","z":"7b6eefa1.2fd3","name":"","func":"msg.payload1 = msg.payload[0].dv_t_max\nvar min = msg.payload[0].dv_t_min\nvar max  = msg.payload[0].dv_t_max\nmsg.payload1 = min\nmsg.payload2=max\nmsg.payload ={\n    'min' : msg.payload1,\n    \"max\":msg.payload2\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":140,"wires":[["786ce87d.d733a8"]]},{"id":"b5a09f8a.90faa","type":"function","z":"7b6eefa1.2fd3","name":"","func":"var tem1  = msg.payload[0].DHTtemp\nvar tem2  = msg.payload[0].DS18Temp\nmsg.payload1 = tem1\nmsg.payload2=tem2\nmsg.payload ={\n    'tem1' : msg.payload1,\n    \"tem2\":msg.payload2\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":220,"wires":[["786ce87d.d733a8"]]},{"id":"786ce87d.d733a8","type":"function","z":"7b6eefa1.2fd3","name":"","func":"var num=29\nif (num >=min && num <= max) {\n    msg.payload = 5555 ;\n}else{\n    msg.payload = null ;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":180,"wires":[["7b489cd5.dbea24"]]},{"id":"8646b499.ddcd48","type":"function","z":"7b6eefa1.2fd3","name":"","func":"var tem1  = msg.payload[0].DHTtemp\nvar tem2  = msg.payload[0].DS18Temp\nvar min = msg.payload[0].dv_t_min\nvar max  = msg.payload[0].dv_t_max\nmsg.payload1 = min\nmsg.payload2=max\nmsg.payload3 =tem1\nmsg.payload4=tem2\nmsg.payload ={\n    'min' : msg.payload1,\n    \"max\":msg.payload2,\n    'tem1' : msg.payload3,\n    \"tem2\":msg.payload4\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":200,"wires":[[]]},{"id":"bc60f9e1.859938","type":"join","z":"7b6eefa1.2fd3","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":400,"wires":[["f72c4f49.adcbe"]]},{"id":"3f8d46b5.ccdd6a","type":"function","z":"7b6eefa1.2fd3","name":"fddfd","func":"msg.payload = msg.payload[0].DS18Temp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":520,"wires":[["bc60f9e1.859938"]]},{"id":"334b47d3.b85c58","type":"debug","z":"bfd309c7.3425a8","name":"Normal Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":660,"wires":[]},{"id":"9aff09a4.2f34c8","type":"http request","z":"bfd309c7.3425a8","name":"POST LINE API","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1140,"y":740,"wires":[["334b47d3.b85c58"]]},{"id":"1fae39ad.1eb9c6","type":"function","z":"bfd309c7.3425a8","name":"line token","func":"\nmsg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization': 'Bearer '+msg.payload3\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;\n//aGsA3R4APnt2l5pheTz4N6XM0FYMXAN2igN6q7xmSsG นัด\n//hGcQRT9ISTO8H1CApvz0sDKNQhdOuLw9ejNS4fv8yGh แคน","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":680,"wires":[["9aff09a4.2f34c8"]]},{"id":"d9cff2a0.fc861","type":"function","z":"bfd309c7.3425a8","name":"con","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nvar min = parseInt(data[0]);\nvar max = parseInt(data[1]);\nvar tk = data[2];\nmsg.payload3 = tk;\nvar temp1 = parseInt(data[3]);\nvar temp2 = parseInt(data[4]);\nvar num= temp1\nif (num <=min ) {\n    msg.payload = \"\\nWarning, the current temperature value is abnormal.\"+\"\\n\"+\"Normal Temp: \"+temp1+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse if (num >=max ) {\n    msg.payload = \"\\nWarning, the current temperature value is abnormal.\"+\"\\n\"+\"Normal Temp: \"+temp1+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse{\n   msg.payload = null\n}\n\n// msg.payload = \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":620,"wires":[["1fae39ad.1eb9c6"]]},{"id":"676b91f1.66a21","type":"join","z":"bfd309c7.3425a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1050,"y":540,"wires":[["d9cff2a0.fc861"]]},{"id":"35cd6ff3.eb0fa","type":"debug","z":"bfd309c7.3425a8","name":"Freed Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":840,"wires":[]},{"id":"e8b8f976.e6e148","type":"http request","z":"bfd309c7.3425a8","name":"POST LINE API","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1120,"y":900,"wires":[["35cd6ff3.eb0fa"]]},{"id":"248c14f0.3909dc","type":"function","z":"bfd309c7.3425a8","name":"line token","func":"\nmsg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization': 'Bearer '+msg.payload3\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;\n//aGsA3R4APnt2l5pheTz4N6XM0FYMXAN2igN6q7xmSsG นัด\n//hGcQRT9ISTO8H1CApvz0sDKNQhdOuLw9ejNS4fv8yGh แคน","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":860,"wires":[["e8b8f976.e6e148"]]},{"id":"fda76a5c.e8ceb8","type":"function","z":"bfd309c7.3425a8","name":"con","func":"var str = msg.payload;\nvar data = str.slice(0).split(',');\nvar d = new Date();\nvar asiaDate = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",year: 'numeric', month: '2-digit', day: '2-digit'});\nvar asiaTime = new Date().toLocaleString(\"th-TH\", {timeZone: \"Asia/Bangkok\",hour: '2-digit', minute: '2-digit', second: '2-digit'});\nmsg.payload1 = asiaDate;\nmsg.payload2=asiaTime;\nvar min = parseInt(data[0]);\nvar max = parseInt(data[1]);\nvar tk = data[2];\nmsg.payload3 = tk;\nvar temp1 = parseInt(data[3]);\nvar temp2 = parseInt(data[4]);\nvar num= temp2\nif (num <=min ) {\n    msg.payload = \"\\nWarning, the current temperature value is abnormal.\"+\"\\n\"+\"Freed Temp: \"+temp2+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse if (num >=max ) {\n    msg.payload = \"\\nWarning, the current temperature value is abnormal.\"+\"\\n\"+\"Freed Temp: \"+temp2+\"°C\"+\"\\n\"+\"Date: \"+asiaDate+\"\\n\"+\"Time: \"+asiaTime+\"\\n\"+\"Temperature is overdue\";\n}\nelse{\n    msg.payload = null\n}\n\n// msg.payload = \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":800,"wires":[["248c14f0.3909dc"]]},{"id":"754e2d3c.bf36c4","type":"join","z":"bfd309c7.3425a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":800,"wires":[["fda76a5c.e8ceb8"]]},{"id":"e076267a.aeb598","type":"function","z":"bfd309c7.3425a8","name":"Select Temp 1 Max Min","func":"msg.topic = \"select dv_t_min,dv_t_max,dv_line_tk from tbl_device WHERE dv_id=1\"\n// msg.payload = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":520,"wires":[["16e06580.5fc3fb"]]},{"id":"16e06580.5fc3fb","type":"mysql","z":"bfd309c7.3425a8","mydb":"db390f86.e735d","name":"test","x":610,"y":500,"wires":[["2eb59ee1.e85b92","5c0e1e7.a7f26e","5bfed892.60ac58"]]},{"id":"5c0e1e7.a7f26e","type":"function","z":"bfd309c7.3425a8","name":"max","func":"msg.payload = msg.payload[0].dv_t_max\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":500,"wires":[["676b91f1.66a21"]]},{"id":"5bfed892.60ac58","type":"function","z":"bfd309c7.3425a8","name":"token","func":"msg.payload = msg.payload[0].dv_line_tk\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":540,"wires":[["676b91f1.66a21"]]},{"id":"2eb59ee1.e85b92","type":"function","z":"bfd309c7.3425a8","name":"min","func":"// var min = msg.payload[0].dv_t_min\nmsg.payload = msg.payload[0].dv_t_min\n// var max  = msg.payload[0].dv_t_max\n// var tk = msg.payload[0].dv_line_tk\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":460,"wires":[["676b91f1.66a21"]]},{"id":"a041e5aa.74f0f8","type":"function","z":"bfd309c7.3425a8","name":"Select Temp1 Data","func":"msg.topic = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":580,"wires":[["4c8929c1.309138"]],"outputLabels":["msg.topic1"]},{"id":"cf61704.f76019","type":"function","z":"bfd309c7.3425a8","name":"temp1","func":"msg.payload = msg.payload[0].DHTtemp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":580,"wires":[["676b91f1.66a21"]]},{"id":"4c8929c1.309138","type":"mysql","z":"bfd309c7.3425a8","mydb":"db390f86.e735d","name":"test","x":610,"y":580,"wires":[["cf61704.f76019","a75967ce.a598d8"]]},{"id":"a75967ce.a598d8","type":"function","z":"bfd309c7.3425a8","name":"temp2","func":"msg.payload = msg.payload[0].DS18Temp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":620,"wires":[["676b91f1.66a21"]]},{"id":"df320010.9f08e","type":"function","z":"bfd309c7.3425a8","name":"Select Temp 2 Max Min","func":"msg.topic = \"select dv_s_min,dv_s_max,dv_line_tk from tbl_device WHERE dv_id=1\"\n// msg.payload = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":740,"wires":[["69724f56.c94e1"]]},{"id":"69724f56.c94e1","type":"mysql","z":"bfd309c7.3425a8","mydb":"db390f86.e735d","name":"test","x":530,"y":720,"wires":[["ca62f6cf.ac8988","5e263fd1.6e311","f3ffe989.630578"]]},{"id":"5e263fd1.6e311","type":"function","z":"bfd309c7.3425a8","name":"max","func":"msg.payload = msg.payload[0].dv_s_max\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":720,"wires":[["754e2d3c.bf36c4"]]},{"id":"f3ffe989.630578","type":"function","z":"bfd309c7.3425a8","name":"token","func":"msg.payload = msg.payload[0].dv_line_tk\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":760,"wires":[["754e2d3c.bf36c4"]]},{"id":"ca62f6cf.ac8988","type":"function","z":"bfd309c7.3425a8","name":"min","func":"// var min = msg.payload[0].dv_t_min\nmsg.payload = msg.payload[0].dv_s_min\n// var max  = msg.payload[0].dv_t_max\n// var tk = msg.payload[0].dv_line_tk\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":680,"wires":[["754e2d3c.bf36c4"]]},{"id":"b504c719.7e8478","type":"function","z":"bfd309c7.3425a8","name":"Select Temp2 Data","func":"msg.topic = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":800,"wires":[["2e934388.94f5ac"]],"outputLabels":["msg.topic1"]},{"id":"5876364e.c7f9c8","type":"function","z":"bfd309c7.3425a8","name":"temp1","func":"msg.payload = msg.payload[0].DHTtemp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":800,"wires":[["754e2d3c.bf36c4"]]},{"id":"2e934388.94f5ac","type":"mysql","z":"bfd309c7.3425a8","mydb":"db390f86.e735d","name":"test","x":530,"y":800,"wires":[["5876364e.c7f9c8","3631f682.733e6a"]]},{"id":"3631f682.733e6a","type":"function","z":"bfd309c7.3425a8","name":"temp2","func":"msg.payload = msg.payload[0].DS18Temp\n// var tem1 = msg.payload[0].DHTtemp\n// var tem2 = msg.payload[0].DS18Temp\n// // var g = parseInt(tem1) \n// var num=29\n// if (num >=min && num <= max) {\n//     msg.payload = 5555 ;\n// }else{\n//     msg.payload = null ;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":840,"wires":[["754e2d3c.bf36c4"]]},{"id":"4fce8286.45ca0c","type":"mysql","z":"7b6eefa1.2fd3","mydb":"db390f86.e735d","name":"test","x":630,"y":600,"wires":[["a8dc21f6.e84b4","2a2f4324.bd0f0c"]]},{"id":"7239cd60.5435a4","type":"function","z":"7b6eefa1.2fd3","name":"qqqqqqqqqqqqqqqqqqq","func":"msg.topic = \"select dv_s_min,dv_s_max,dv_line_tk from tbl_device WHERE dv_id=1\"\n// msg.payload = \"SELECT DHTtemp,DS18Temp FROM tbl_data ORDER BY data_id DESC LIMIT 1\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":620,"wires":[["4fce8286.45ca0c"]]},{"id":"a8dc21f6.e84b4","type":"function","z":"7b6eefa1.2fd3","name":"token","func":"msg.payload = msg.payload[0].dv_line_tk\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":660,"wires":[["1ec08a13.f4a9b6"]]},{"id":"2a2f4324.bd0f0c","type":"function","z":"7b6eefa1.2fd3","name":"token","func":"msg.payload = msg.payload[0].dv_line_tk\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":580,"wires":[["1ec08a13.f4a9b6"]]},{"id":"1ec08a13.f4a9b6","type":"join","z":"7b6eefa1.2fd3","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":620,"wires":[[]]},{"id":"c599988.7136568","type":"function","z":"7b6eefa1.2fd3","name":"","func":"\nvar str = msg.payload;\nvar data = str.slice(0).split(',');\nvar tk = data[2];\nmsg.payload1 = tk;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":480,"wires":[[]]}]